Repository Azure/prometheus-collector, changes with the labels that .github/labeler.yml gives for each.
All labels: build, docs, test

add yamls for CI/CD clusters
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-prometheus-config-configmap.yaml
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-prometheus-config-node-configmap.yaml
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-prometheus-config-node-windows-configmap.yaml
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-settings-configmap.yaml
  otelcollector/test/testkube/testkube-test-crs.yaml
Labels: test

update readme
  otelcollector/test/README.md
Labels: docs, test

test comments and cleanup
  otelcollector/test/containerstatus/container_status_test.go
  otelcollector/test/livenessprobe/process_liveness_test.go
  otelcollector/test/prometheusui/prometheus_ui_test.go
  otelcollector/test/querymetrics/query_metrics_test.go
  otelcollector/test/utils/constants.go
Labels: test

no cache
  .pipelines/azure-pipeline-build.yml
Labels: build

stop and restart fluent bit for exec plugin bug
  otelcollector/scripts/main.sh
Labels: none

cleaning up
  otelcollector/otel-allocator/server/server.go
Labels: none

fix
  otelcollector/build/linux/ccp/Dockerfile
  otelcollector/prometheuscollector/prometheus-ccp-config-merger.go
  otelcollector/prometheuscollector/tomlparser-ccp-default-targets-metrics-keep-list.go
Labels: none

one more
  otelcollector/build/linux/ccp/Dockerfile
Labels: none

add initial sleep time
  otelcollector/scripts/main.sh
Labels: none

removing unwanted changes
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/otel-allocator/target/discovery.go
Labels: none

remove unwanted changes
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: none

removing changes
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: none

Fix for yaml unmarshal bug for keepequal/dropequal (#753)
  otelcollector/otel-allocator/server/server.go
Labels: none

set one shot command to false explicityly for exec
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/scripts/main.sh
Labels: none

try creating exec log files at startup to mitigate startup issue
  otelcollector/scripts/main.sh
Labels: none

test only exec in pipeline
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
  otelcollector/scripts/main.sh
Labels: none

use distroless image
  otelcollector/build/linux/Dockerfile
Labels: none

test in distroless with all plugins
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
Labels: none

use older fb to check
  otelcollector/scripts/setup.sh
Labels: none

final commit with cpu plugin version
  .pipelines/azure-pipeline-build.yml
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
  otelcollector/fluent-bit/fluent-bit-parsers.conf
  otelcollector/fluent-bit/fluent-bit.conf
  otelcollector/fluent-bit/src/out_appinsights.go
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/scripts/main.sh
Labels: build

minor fixes
  otelcollector/build/linux/Dockerfile
  otelcollector/scripts/main.sh
Labels: none

.
  .pipelines/azure-pipeline-build.yml
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
  otelcollector/fluent-bit/fluent-bit-parsers.conf
  otelcollector/fluent-bit/fluent-bit.conf
Labels: build

image with process based cpu on distro
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
  otelcollector/fluent-bit/fluent-bit.conf
Labels: none

test image
  .pipelines/azure-pipeline-build.yml
Labels: build

use latest fb go version
  otelcollector/scripts/setup.sh
Labels: none

clean go mod
  otelcollector/fluent-bit/src/go.sum
Labels: none

test all plugins in distroless
  .pipelines/azure-pipeline-build.yml
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
Labels: build

cache
  .pipelines/azure-pipeline-build.yml
Labels: build

Add new regions for Azure Monitor Workspace (#725)
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/WindowsRecordingRuleGroupTemplate/WindowsRecordingRules.json
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  ArcBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  RELEASENOTES.md
Labels: docs

bumping up version and adding release notes
  RELEASENOTES.md
  otelcollector/VERSION
Labels: docs

bumping up version and adding release notes (#755)
  RELEASENOTES.md
  otelcollector/VERSION
Labels: docs

updates for test build and final pr
  .pipelines/azure-pipeline-build.yml
  otelcollector/build/linux/ccp/Dockerfile
  otelcollector/configmapparser/default-prom-configs/controlplane_apiserver.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_cluster_autoscaler.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_kube_controller_manager.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_kube_scheduler.yml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values.yaml
  otelcollector/prometheuscollector/configmapparser.go
  otelcollector/prometheuscollector/file_utilities.go
  otelcollector/prometheuscollector/main.go
  otelcollector/prometheuscollector/process_utilities.go
Labels: build

use sed to get pid
  .pipelines/azure-pipeline-build.yml
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
  otelcollector/fluent-bit/fluent-bit.conf
  otelcollector/fluent-bit/src/out_appinsights.go
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/scripts/main.sh
  otelcollector/scripts/setup.sh
Labels: build

take in fix
  .pipelines/azure-pipeline-build.yml
Labels: build

syntax
  otelcollector/prometheuscollector/process_utilities.go
Labels: none

test in older fb version
  otelcollector/scripts/setup.sh
Labels: none

upgrade fb
  otelcollector/build/linux/Dockerfile
  otelcollector/scripts/setup.sh
Labels: none

debug image for testing
  otelcollector/build/linux/ccp/Dockerfile
Labels: none

copy to file only
  otelcollector/prometheuscollector/process_utilities.go
Labels: none

docker
  otelcollector/build/linux/ccp/Dockerfile
Labels: none

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '.pipelines/**'

docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

test:
- changed-files:
  - any-glob-to-any-file: 'otelcollector/test/**'
