Repository Azure/prometheus-collector, pull requests merged in 2022-11, with the labels that each got.

#306 Update per job scrape interval in settings configmap
  otelcollector/configmapparser/prometheus-config-merger.rb
  otelcollector/configmapparser/tomlparser-scrape-interval.rb
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-settings-configmap.yaml
  otelcollector/deploy/chart/prometheus-collector/values-template.yaml
  otelcollector/scripts/main.sh
Labels: size/L

#315 feat: add ARM template for Azure Monitor Metrics addon enablement
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/FullAzureMonitorMetricsProfileParameters.json
  AddonArmTemplate/README.md
Labels: size/L

#317 Fix build error - provide full path for values.yaml
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#319 Fix multiple matches for labels issue for prometheus alerts
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/ci_recommended_alerts.json
Labels: size/XS

#320 Add Cpu arch alerts and dashboards
  internal/alerts/ci-dev-aks-mac-eus.json
  internal/alerts/ci-dev-aks-wcus.json
  internal/alerts/ci-prod-aks-mac-weu.json
  internal/alerts/ci_prod_aks_eus.json
  internal/monitoring/dashboards/ci-dev-aks-mac-eus-db.json
  internal/monitoring/dashboards/ci-dev-aks-wcus-db.json
  internal/monitoring/dashboards/ci-prod-aks-eus-db.json
  internal/monitoring/dashboards/ci-prod-aks-mac-weu-db.json
Labels: size/XXL

#324 Fix pipeline deploy error for ci-dev-aks-mac-eus cluster
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#313 Switch to a Mariner-based and multiarch container image
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  internal/docs/MARINER.md
  internal/docs/MULTIARCH.md
  otelcollector/build/linux/Dockerfile
  otelcollector/build/linux/rpm-repos/mariner-official-extras.repo
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Values.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-deployment.yaml
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/logrotate/crontab
  otelcollector/logrotate/logrotate
  otelcollector/mdsd/envmdsd
  otelcollector/metricextension/me.config
  otelcollector/opentelemetry-collector-builder/go.mod
  otelcollector/opentelemetry-collector-builder/go.sum
  otelcollector/prom-config-validator-builder/go.mod
  otelcollector/prom-config-validator-builder/go.sum
  otelcollector/prometheusreceiver/go.mod
  otelcollector/prometheusreceiver/go.sum
  otelcollector/scripts/main.sh
  otelcollector/scripts/setup.sh
  otelcollector/telegraf/telegraf-prometheus-collector.conf
Labels: size/XXL

#327 Addon CI/CD image tag fix
  .pipelines/azure-pipeline-build.yml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart-template.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/S

#328 CI/CD addon fix 2
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#326 Upgrade kube state metrics & node exporter
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-role.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/deploy/chart/prometheus-collector/Chart-template.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/Chart.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/_helpers.tpl
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/deployment.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/podsecuritypolicy.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/psp-clusterrole.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/psp-clusterrolebinding.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/role.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/rolebinding.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/service.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/servicemonitor.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/verticalpodautoscaler.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/values.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/Chart.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/README.md
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/NOTES.txt
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/_helpers.tpl
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/daemonset.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/endpoints.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/psp-clusterrole.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/psp-clusterrolebinding.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/psp.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/service.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/serviceaccount.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/servicemonitor.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/verticalpodautoscaler.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/values.yaml
Labels: size/XL

#329 CI/CD fix 3
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#330 CI/CD fix 4
  .pipelines/azure-pipeline-build.yml
Labels: size/S

#331 CI/CD fix 5
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#333 Try ev2 canary region
  .pipelines/deployment/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
Labels: size/XS

#334 up version for release (11/29/2022)
  otelcollector/VERSION
Labels: size/XS

#335 update release notes for 11/29/2022 release
  RELEASENOTES.md
Labels: size/XS

#337 update addon token adapter image to latest from last week
  .trivyignore
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-daemonset.yaml
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-deployment.yaml
Labels: size/XS
