Repository Azure/prometheus-collector, pull requests merged in 2022-10, with the labels that each got.

#307 Helm chart and instructions for addon backdoor deployment
  .trivyignore
  otelcollector/deploy/addon-chart/Readme.md
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Values.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-clusterRole.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-clusterRoleBinding.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-clusterrolebinding.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-role.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-service.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-serviceaccount.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-serviceAccount.yaml
Labels: size/XL

#311 Up version for 10/27/2022 release
  otelcollector/VERSION
Labels: size/XS

#312 Documentation update for 10/27/2022 release + Update release process.md
  RELEASENOTES.md
  internal/docs/BUILDANDRELEASE.md
Labels: size/S

#314 Update BUILDANDRELEASE.md
  internal/docs/BUILDANDRELEASE.md
Labels: size/XS
