Repository Azure/prometheus-collector, pull requests merged in 2023-08, with the labels that each got.

#550 Terraform prometheus rule groups - Sync from Eppo's fork
  AddonTerraformTemplate/main.tf
  AddonTerraformTemplate/providers.tf
  AddonTerraformTemplate/variables.tf
Labels: size/XL

#556 fix: ARC fixes for AKS EE
  .pipelines/azure-pipeline-build.yml
  otelcollector/VERSION
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
Labels: size/M

#557 fix: update region list for AMW location in ARM, Bicep and Policy
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/WindowsRecordingRuleGroupTemplate/WindowsRecordingRules.json
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  ArcBicepTemplate/FullAzureMonitorMetricsProfile.bicep
Labels: size/L

#559 Minor fix in policy readme
  AddonPolicyTemplate/README.md
Labels: size/XS

#560 Changes for 08/11/2023 release
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/prom-config-validator-builder/main.go
Labels: size/S

#561 Update image in RELEASENOTES for 08/11/2023 release
  RELEASENOTES.md
Labels: size/XS

#558 Troubleshooting script for ICM/CSS TSG
  internal/scripts/troubleshoot/README.md
  internal/scripts/troubleshoot/TroubleshootError.ps1
Labels: size/XL

#569 Fix policy ksm params
  AddonPolicyTemplate/AddonPolicyMetricsProfile.parameters.json
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
Labels: size/XS

#570 Container image signing for windows and linux images
  .pipelines/azure-pipeline-build.yml
  internal/docs/ESRPCodeSign.md
Labels: size/L

#576 Hotfix for ICM 417488465 ON 08/27/2023
  Hotfix-417488465-08272023.md
Labels: size/S

#572 Update link in troubleshoot readme to main branch
  internal/scripts/troubleshoot/README.md
Labels: size/XS
