Repository Azure/prometheus-collector, pull requests merged in 2023-01, with the labels that each got.

#354 Upgrade dependencies
  .trivyignore
  otelcollector/build/linux/Dockerfile
  otelcollector/logrotate/crontab
  otelcollector/opentelemetry-collector-builder/PROMETHEUS_VERSION
  otelcollector/opentelemetry-collector-builder/go.mod
  otelcollector/opentelemetry-collector-builder/go.sum
  otelcollector/opentelemetry-collector-builder/main.go
  otelcollector/prom-config-validator-builder/go.mod
  otelcollector/prom-config-validator-builder/go.sum
  otelcollector/prometheusreceiver/README.md
  otelcollector/prometheusreceiver/config.go
  otelcollector/prometheusreceiver/config_test.go
  otelcollector/prometheusreceiver/factory.go
  otelcollector/prometheusreceiver/factory_test.go
  otelcollector/prometheusreceiver/go.mod
  otelcollector/prometheusreceiver/go.sum
  otelcollector/prometheusreceiver/internal/appendable.go
  otelcollector/prometheusreceiver/internal/metadata.go
  otelcollector/prometheusreceiver/internal/metricfamily.go
  otelcollector/prometheusreceiver/internal/metricfamily_test.go
  otelcollector/prometheusreceiver/internal/metrics_adjuster.go
  otelcollector/prometheusreceiver/internal/metrics_adjuster_test.go
  otelcollector/prometheusreceiver/internal/metricsutil_test.go
  otelcollector/prometheusreceiver/internal/otlp_metricfamily.go
  otelcollector/prometheusreceiver/internal/otlp_metrics_adjuster_test.go
  otelcollector/prometheusreceiver/internal/otlp_metricsbuilder.go
  otelcollector/prometheusreceiver/internal/otlp_metricsbuilder_test.go
  otelcollector/prometheusreceiver/internal/otlp_transaction.go
  otelcollector/prometheusreceiver/internal/otlp_transaction_test.go
  otelcollector/prometheusreceiver/internal/prom_to_otlp.go
  otelcollector/prometheusreceiver/internal/prom_to_otlp_test.go
  otelcollector/prometheusreceiver/internal/staleness_end_to_end_test.go
  otelcollector/prometheusreceiver/internal/starttimemetricadjuster.go
  otelcollector/prometheusreceiver/internal/starttimemetricadjuster_test.go
  otelcollector/prometheusreceiver/internal/transaction.go
  otelcollector/prometheusreceiver/internal/transaction_test.go
  otelcollector/prometheusreceiver/internal/util.go
  otelcollector/prometheusreceiver/internal/util_test.go
  otelcollector/prometheusreceiver/metrics_receiver.go
  otelcollector/prometheusreceiver/metrics_receiver_helper_test.go
  otelcollector/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
  otelcollector/prometheusreceiver/metrics_receiver_labels_test.go
  otelcollector/prometheusreceiver/metrics_receiver_metric_name_normalize_test.go
  otelcollector/prometheusreceiver/metrics_receiver_non_numerical_test.go
  otelcollector/prometheusreceiver/metrics_receiver_open_metrics_test.go
  otelcollector/prometheusreceiver/metrics_receiver_target_allocator_test.go
  otelcollector/prometheusreceiver/metrics_receiver_test.go
  otelcollector/prometheusreceiver/metrics_reciever_metric_rename_test.go
  otelcollector/scripts/setup.sh
Labels: size/XXL

#360 Update version for 01-11-2023 release
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#361 Update RELEASENOTES.md for 1/11/2023 release
  RELEASENOTES.md
Labels: size/XS

#362 Adding Bicep template to monitoring addon
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonBicepTemplate/FullAzureMonitorMetricsProfileParameters.json
  AddonBicepTemplate/README.md
  AddonBicepTemplate/nested_azuremonitormetrics_dcra_clusterResourceId.bicep
  AddonBicepTemplate/nested_azuremonitormetrics_profile_clusterResourceId.bicep
Labels: size/L

#348 {feat} Enable MSI support for windwos daemonset (MA integration)
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/FullAzureMonitorMetricsProfileParameters.json
  GeneratedMonitoringArtifacts/Default/DefaultRecordingRules.json
  internal/referenceapp/win-prometheus-reference-app.yaml
  internal/windowsExporterInstaller/windows-exporter-daemonset.yaml
  mixins/kubernetes/config.libsonnet
  mixins/kubernetes/dashboards/windows.libsonnet
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/k8s-resource-windows-cluster-rules-group-4.json
  mixins/kubernetes/rules/windows.libsonnet
  otelcollector/build/linux/Dockerfile
  otelcollector/build/windows/Dockerfile
  otelcollector/build/windows/scripts/filesystemwatcher.ps1
  otelcollector/build/windows/scripts/livenessprobe.cmd
  otelcollector/build/windows/scripts/main.ps1
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/configmapparser/default-prom-configs/windowsexporterDefaultRsAdvanced.yml
  otelcollector/configmapparser/default-prom-configs/windowskubeproxyDefaultDs.yml
  otelcollector/configmapparser/default-prom-configs/windowskubeproxyDefaultRsAdvanced.yml
  otelcollector/configmapparser/default-prom-configs/windowskubeproxyDefaultRsSimple.yml
  otelcollector/configmapparser/prometheus-config-merger.rb
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
  otelcollector/configmaps/ama-metrics-prometheus-config-node-windows-configmap.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-daemonset.yaml
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-deployment.yaml
  otelcollector/deploy/dashboard/windows/recording-rules/Kubernetes _ Compute Resources _ Cluster(Windows).json
  otelcollector/deploy/dashboard/windows/recording-rules/Kubernetes _ Compute Resources _ Namespace(Windows).json
  otelcollector/deploy/dashboard/windows/recording-rules/Kubernetes _ Compute Resources _ Pod(Windows).json
  otelcollector/deploy/dashboard/windows/recording-rules/Kubernetes _ USE Method _ Cluster(Windows).json
  otelcollector/deploy/dashboard/windows/recording-rules/Kubernetes _ USE Method _ Node(Windows).json
  otelcollector/fluent-bit/fluent-bit-windows.conf
  otelcollector/telegraf/telegraf-prometheus-collector-windows.conf
Labels: enhancement, size/XXL, windows

#367 fix: update typo in liveness probe for windows
  otelcollector/build/windows/scripts/livenessprobe.cmd
Labels: size/M

#368 Adding monitoring reader role to AMW in Arm template
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/README.md
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonBicepTemplate/README.md
Labels: size/M

#369 Fix build pipeline (deploy to dev) and liveness probe fix (non MAC mode)
  .pipelines/azure-pipeline-build.yml
  otelcollector/build/windows/scripts/livenessprobe.cmd
  otelcollector/build/windows/scripts/main.ps1
Labels: size/S

#370 Fix fluent-bit daemonset tailing path and mariner docs
  internal/docs/MARINER.md
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
Labels: size/XS

#373 Liveness probe update for NON-MAC mode (windows)
  internal/windowsExporterInstaller/windows-exporter-daemonset.yaml
  otelcollector/build/windows/scripts/livenessprobe.cmd
  otelcollector/build/windows/scripts/main.ps1
Labels: size/M
