Repository Azure/prometheus-collector, pull requests merged in 2023-03, with the labels that each got.

#403 ARC proxy fixes
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  ArcArmTemplate/FullAzureMonitorMetricsProfileParameters.json
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-secret.yaml
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/metricextension/me_ds.config
  otelcollector/scripts/main.sh
Labels: size/M

#401 Add disk usage alerts for node, add runbook and description to all default alerts
  GeneratedMonitoringArtifacts/Default/DefaultAlerts.json
Labels: size/M

#404 fix: update windows dashboards to remove discrepancies
  mixins/kubernetes/dashboards/windows.libsonnet
Labels: size/L

#407 Reduce telemetry for prometheus ingestion metrics
  otelcollector/fluent-bit/src/out_appinsights.go
  otelcollector/fluent-bit/src/telemetry.go
Labels: size/L

#408 Add CredScan for SDL
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#409 Configurable progressDeadlineSeconds
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-deployment.yaml
  otelcollector/deploy/chart/prometheus-collector/values-template.yaml
Labels: size/XS

#413 Fix linux builds failing
  otelcollector/build/linux/Dockerfile
Labels: size/XS

#415 SDL: add golang race detector
  otelcollector/fluent-bit/src/Makefile
Labels: size/XS

#416 Fix 1P cluster deployment failures and change README deployment status link
  README.md
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-deployment.yaml
Labels: size/XS

#417 Attempt 2 for fixing for deploying to dev cluster
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-deployment.yaml
Labels: size/XS

#426 fix: Update role assignment to use azure monitor worksapces subscription
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
Labels: size/S

#406 Add support to custom endpoints for Arc Autonomous in azure-monitor-metrics-addon
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-extensionIdentity.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: no-pr-activity

#427 Match ME settings for daemonset and add helm dry-run
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  otelcollector/build/linux/Dockerfile
  otelcollector/metricextension/me_ds.config
  otelcollector/metricextension/me_ds_internal.config
  otelcollector/metricextension/me_internal.config
Labels: size/M

#428 Fix build error - add back name label
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/_helpers.tpl
Labels: size/XS

#432 pass-in cloud & increase token adapter wait time
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/scripts/main.sh
Labels: size/M

#433 Fix: pod annotations bug
  otelcollector/configmapparser/prometheus-config-merger.rb
  otelcollector/configmapparser/tomlparser-default-scrape-settings.rb
Labels: size/XS

#435 fix default cloudname
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/XS

#438 Small fixes - revert telegraf upgrade for windows and correct 1p ksm chart version
  RELEASENOTES.md
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/deploy/chart/prometheus-collector/Chart-template.yaml
Labels: size/XS

#439 Soham/release notes 03242023
  RELEASENOTES.md
Labels: size/XS
