Repository Azure/prometheus-collector, pull requests merged in 2023-09, with the labels that each got.

#578 Update docs with prod akv certificate link for container image signing
  internal/docs/ESRPCodeSign.md
Labels: size/XS

#591 Wget proxy fix + release
  .pipelines/azure-pipeline-build.yml
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/scripts/main.sh
Labels: size/S

#592 FIxing secure supply chain vulnerabilities in ref app
  .pipelines/azure-pipeline-build.yml
  internal/referenceapp/golang/linux/Dockerfile
  internal/referenceapp/golang/windows/Dockerfile
  internal/referenceapp/python/linux/Dockerfile
  internal/referenceapp/python/windows/Dockerfile
Labels: size/L

#593 Updating images for reference app from main branch
  internal/referenceapp/prometheus-reference-app.yaml
  internal/referenceapp/win-prometheus-reference-app.yaml
Labels: size/XS

#594 Update build/image in release notes for 09/12/2023 release
  RELEASENOTES.md
Labels: size/S

#601 add test alert template
  internal/alerts/test-prom-alerts.json
Labels: size/M

#605 Arc fixes
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Scripts/arcExtensionRelease.sh
  otelcollector/VERSION
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/S

#606 update cpu requests for daemonset (linux+windows)
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
Labels: size/XS

#607 add windows exporter logs (monitoring namespace) to troubleshooting script
  internal/scripts/troubleshoot/TroubleshootError.ps1
Labels: size/M

#600 Add cluster scope to alert rule groups for linking them with UX
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/WindowsRecordingRuleGroupTemplate/WindowsRecordingRules.json
  AddonBicepTemplate/AzureMonitorAlertsProfile.bicep
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  AddonTerraformTemplate/main.tf
  GeneratedMonitoringArtifacts/Default/DefaultAlerts.json
  GeneratedMonitoringArtifacts/Default/DefaultRecordingRules.json
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/ci_recommended_alerts.json
Labels: size/M
