Repository Azure/prometheus-collector, pull requests merged in 2023-02, with the labels that each got.

#374 Update version for 01-31-2023 release
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#375 Update RELEASENOTES.md for 1/31/2023
  RELEASENOTES.md
Labels: size/XS

#376 fix: only import proper certificate files
  otelcollector/build/windows/scripts/main.ps1
Labels: size/S

#377 AKS addon HTTP Proxy Support
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/metricextension/me.config
  otelcollector/metricextension/me_ds_internal.config
  otelcollector/metricextension/me_internal.config
  otelcollector/scripts/main.sh
  otelcollector/telegraf/telegraf-prometheus-collector.conf
Labels: size/M

#378 Add alerts in the Arm and Bicep templates
  AddonBicepTemplate/AzureMonitorAlertsProfile.bicep
  AddonBicepTemplate/AzureMonitorAlertsProfileParameters.json
  AddonBicepTemplate/README.md
Labels: size/XL

#372 Arc Extension and associated ARM templates
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  ArcArmTemplate/FullAzureMonitorMetricsProfileParameters.json
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart-template.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-clusterRole.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-clusterRoleBinding.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-extensionIdentity.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/XL

#383 Wait for token adapter to be healthy before starting our dependencies
  otelcollector/build/linux/Dockerfile
  otelcollector/scripts/main.sh
  otelcollector/telegraf/telegraf-prometheus-collector.conf
Labels: size/M

#380 enable network monitoring metrics (kappie)
  otelcollector/configmapparser/default-prom-configs/kappieBasicDefaultDs.yml
  otelcollector/configmapparser/prometheus-config-merger.rb
  otelcollector/configmapparser/tomlparser-default-scrape-settings.rb
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
  otelcollector/configmapparser/tomlparser-scrape-interval.rb
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/telegraf/telegraf-prometheus-collector.conf
Labels: size/L

#386 HTTP Proxy for distroless and ARC
  .pipelines/azure-pipeline-build.yml
  otelcollector/build/linux/Dockerfile
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-secret.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/scripts/main.sh
Labels: size/L

#388 Work around helm seg fault bug
  .pipelines/azure-pipeline-build.yml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-extensionIdentity.yaml
Labels: size/XS

#381 Add Azure policy templates for metrics addon
  AddonPolicyTemplate/AddonPolicyMetricsProfile.parameters.json
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  AddonPolicyTemplate/README.md
Labels: size/L

#389 Only truncate the tag to 128 characters
  .pipelines/azure-pipeline-build.yml
Labels: size/S

#390 Allow setting a priority class for the daemonset and deployment objects
  otelcollector/VERSION
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-daemonset.yaml
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-deployment.yaml
  otelcollector/deploy/chart/prometheus-collector/values-template.yaml
Labels: size/S

#394 Update version for 02-22-2023 release
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#396 update release notes with prod image for 2/22/2023
  RELEASENOTES.md
Labels: size/XS

#398 Update buildinfo in release notes for 02/22/2023 release
  RELEASENOTES.md
Labels: size/XS

#395 Update node disk usage alert to 85% to account default garbage col
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/ci_recommended_alerts.json
Labels: size/S

#400 Add the labels to node % alerts for more granular alerting
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/ci_recommended_alerts.json
Labels: size/S

#402 fix: update telemetry points for better windows dashboard
  otelcollector/telegraf/telegraf-prometheus-collector-windows.conf
Labels: size/XS
