Repository Azure/prometheus-collector, pull requests merged in 2023-11, with the labels that each got.

#667 enable few more default metrics for insights Ux
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
Labels: size/S

#669 release note update for november release
  .trivyignore
  RELEASENOTES.md
Labels: size/S

#670 release note : image update with 6.8.1-main-11-03-2023-c061beb4
  RELEASENOTES.md
Labels: size/XS

#672 update for clause in agent version alert
  internal/alerts/example-alert-template.json
Labels: size/XS

#678 [fix] Windows liveness probe for ME
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/build/windows/scripts/livenessprobe.cmd
Labels: size/M

#679 Add to CVE list
  .trivyignore
Labels: size/XS

#680 [Fix] Windows liveness for nested if statements
  otelcollector/build/windows/scripts/livenessprobe.cmd
Labels: size/XS

#681 [Fix] Window liveness probe with goto within blocks
  otelcollector/build/windows/scripts/livenessprobe.cmd
Labels: size/S

#684 update readme for operator mode
  otelcollector/deploy/addon-chart/Readme.md
Labels: size/S
