Repository Azure/prometheus-collector, pull requests merged in 2023-10, with the labels that each got.

#615 Bug fix- update cert thumbprint to latest ame prod cert
  .pipelines/azure-pipeline-build.yml
  internal/docs/ESRPCodeSign.md
Labels: size/XS

#618 Fix $ substitution issue in relabel and metric relabel config
  otelcollector/prom-config-validator-builder/main.go
Labels: size/XS

#623 update helm version
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#625 Update build/image in RELEASENOTES.md for 10/06/2023 release
  RELEASENOTES.md
Labels: size/XS

#626 Update release instructions for aks rp semver
  internal/docs/BUILDANDRELEASE.md
Labels: size/S

#647 Updating version and release notes for Operator release
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/XS

#648 revert unintended changed for values yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/XS

#642 Make sure build fails if image build fails
  .pipelines/azure-pipeline-build.yml
  .trivyignore
Labels: size/S

#649 updating release notes to include new image
  RELEASENOTES.md
Labels: size/S

#650 Fix public scope bindings for TA and config reader
  .pipelines/deployment/ServiceGroupRoot/ScopeBindings/Public.ScopeBindings.json
Labels: size/XS

#651 updating just minor version
  otelcollector/VERSION
Labels: size/XS

#652 update release notes with new image name
  RELEASENOTES.md
Labels: size/S

#654 Add alert for new agent version in prometheus collector
  internal/alerts/example-alert-template.json
Labels: size/S

#655 Docs for operator
  internal/docs/Operator-CRD.md
  internal/docs/Operator-Sharding.md
Labels: size/L

#661 Adding telemetry for ta and cfg reader img versions
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/telegraf/telegraf-prometheus-collector-ta-enabled.conf
Labels: size/S
