Repository Azure/prometheus-collector, pull requests merged in 2023-04, with the labels that each got.

#431 Upgrade otelcollector
  otelcollector/build/windows/scripts/livenessprobe.cmd
  otelcollector/build/windows/scripts/main.ps1
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/opentelemetry-collector-builder/PROMETHEUS_VERSION
  otelcollector/opentelemetry-collector-builder/components.go
  otelcollector/opentelemetry-collector-builder/go.mod
  otelcollector/opentelemetry-collector-builder/go.sum
  otelcollector/opentelemetry-collector-builder/main.go
  otelcollector/prom-config-validator-builder/components.go
  otelcollector/prom-config-validator-builder/go.mod
  otelcollector/prom-config-validator-builder/go.sum
  otelcollector/prom-config-validator-builder/main.go
  otelcollector/prometheusreceiver/README.md
  otelcollector/prometheusreceiver/config.go
  otelcollector/prometheusreceiver/config_test.go
  otelcollector/prometheusreceiver/factory.go
  otelcollector/prometheusreceiver/factory_test.go
  otelcollector/prometheusreceiver/go.mod
  otelcollector/prometheusreceiver/go.sum
  otelcollector/prometheusreceiver/internal/appendable.go
  otelcollector/prometheusreceiver/internal/metricfamily.go
  otelcollector/prometheusreceiver/internal/metricfamily_test.go
  otelcollector/prometheusreceiver/internal/metrics_adjuster.go
  otelcollector/prometheusreceiver/internal/metrics_adjuster_test.go
  otelcollector/prometheusreceiver/internal/prom_to_otlp_test.go
  otelcollector/prometheusreceiver/internal/staleness_end_to_end_test.go
  otelcollector/prometheusreceiver/internal/transaction.go
  otelcollector/prometheusreceiver/internal/transaction_test.go
  otelcollector/prometheusreceiver/internal/util.go
  otelcollector/prometheusreceiver/metrics_receiver.go
  otelcollector/prometheusreceiver/metrics_receiver_helper_test.go
  otelcollector/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
  otelcollector/prometheusreceiver/metrics_receiver_labels_test.go
  otelcollector/prometheusreceiver/metrics_receiver_metric_name_normalize_test.go
  otelcollector/prometheusreceiver/metrics_receiver_non_numerical_test.go
  otelcollector/prometheusreceiver/metrics_receiver_open_metrics_test.go
  otelcollector/prometheusreceiver/metrics_receiver_target_allocator_test.go
  otelcollector/prometheusreceiver/metrics_receiver_test.go
  otelcollector/prometheusreceiver/metrics_reciever_metric_rename_test.go
  otelcollector/scripts/setup.sh
Labels: size/XXL

#461 Add priorityclass system node critical for RS, DS & KSM pods
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-deployment.yaml
Labels: size/XS

#467 Upgrade version 04-17
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#468 Fix pod annotation namespaces spelling in configmap and make backwards-compatible
  otelcollector/configmapparser/tomlparser-pod-annotation-based-scraping.rb
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
Labels: size/S

#445 Add docs for guide to update otelcollector and other dependencies
  internal/docs/UpgradeDependencies.md
  internal/docs/UpgradeotelCol.md
Labels: size/L

#447 Add bicep support for ARC cluster
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  ArcBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  ArcBicepTemplate/FullAzureMonitorMetricsProfileParameters.json
  ArcBicepTemplate/README.md
  ArcBicepTemplate/nested_azuremonitormetrics_arc_k8s_extension_clusterResourceId.bicep
  ArcBicepTemplate/nested_azuremonitormetrics_dcra_clusterResourceId.bicep
Labels: size/L

#471 turn on kappie metrics by default.
  otelcollector/configmapparser/tomlparser-default-scrape-settings.rb
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
Labels: size/XS

#470 fix: update windows recording rules to remove duplicate entries for non running containers
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/WindowsRecordingRuleGroupTemplate/WindowsRecordingRules.json
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  GeneratedMonitoringArtifacts/Default/DefaultRecordingRules.json
  mixins/kubernetes/README.md
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/k8s-resource-windows-cluster-rules-group-1.json
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/k8s-resource-windows-cluster-rules-group-2.json
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/k8s-resource-windows-cluster-rules-group-3.json
  mixins/kubernetes/rules/windows.libsonnet
Labels: size/M

#469 Add terraform onboarding for prometheus addon
  AddonTerraformTemplate/README.md
  AddonTerraformTemplate/main.tf
  AddonTerraformTemplate/outputs.tf
  AddonTerraformTemplate/providers.tf
  AddonTerraformTemplate/variables.tf
Labels: size/XL

#472 fix: remove uneeded files added during windows private preview
  mixins/kubernetes/rules/recording_and_alerting_rules/README.md
  mixins/kubernetes/rules/recording_and_alerting_rules/create_rules.ps1
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/k8s-resource-windows-cluster-rules-group-1.json
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/k8s-resource-windows-cluster-rules-group-2.json
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/k8s-resource-windows-cluster-rules-group-3.json
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/k8s-resource-windows-cluster-rules-group-4.json
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/values.json
Labels: size/L

#477 Update naming for dependencies dependabot should ignore
  .github/dependabot.yml
Labels: size/XS

#478 Soham/rel notes 04172023
  RELEASENOTES.md
Labels: size/XS

#446 feat: update to use GA API versions for ARM, Bicep, Policy etc.
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/WindowsRecordingRuleGroupTemplate/WindowsRecordingRules.json
  AddonBicepTemplate/AzureMonitorAlertsProfile.bicep
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonBicepTemplate/nested_azuremonitormetrics_dcra_clusterResourceId.bicep
  AddonBicepTemplate/nested_azuremonitormetrics_profile_clusterResourceId.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  Azure-ARM-templates/Prometheus-RemoteWrite-DCR-artifacts/CustomDCE.json
  Azure-ARM-templates/Prometheus-RemoteWrite-DCR-artifacts/CustomDCR.json
  GeneratedMonitoringArtifacts/Default/DefaultAlerts.json
  GeneratedMonitoringArtifacts/Default/DefaultRecordingRules.json
  GeneratedMonitoringArtifacts/non-default/api-server/apiserver-RecordingRules.json
  internal/alerts/ci-dev-aks-mac-eus.json
  internal/alerts/ci-dev-aks-wcus.json
  internal/alerts/ci-prod-aks-mac-weu.json
  internal/alerts/ci-prod-aks-msi-eus2.json
  internal/alerts/ci_prod_aks_eus.json
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/ci_recommended_alerts.json
  tools/prom-rules-converter/dist/steps/to-azure/to-azure-prom-rule-group.js
  tools/prom-rules-converter/src/steps/to-azure/to-azure-prom-rule-group.ts
  tools/prom-rules-converter/test-files/template-example.json
Labels: size/L
