Repository Azure/prometheus-collector, pull requests merged in 2023-07, with the labels that each got.

#533 Fix bug: add scrape interval for 2 targets
  .pipelines/azure-pipeline-build.yml
  otelcollector/configmapparser/default-prom-configs/podannotationsDefault.yml
  otelcollector/configmapparser/default-prom-configs/prometheusCollectorHealth.yml
  otelcollector/configmapparser/prometheus-config-merger.rb
Labels: size/S

#537 Increase publication size to include compression
  .pipelines/azure-pipeline-build.yml
  otelcollector/metricextension/me.config
  otelcollector/metricextension/me_ds.config
  otelcollector/metricextension/me_ds_internal.config
  otelcollector/metricextension/me_internal.config
Labels: size/S

#538 Remove test branch
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#529 Removing duplicate alerts from ci recommended alerts
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/ci_recommended_alerts.json
Labels: size/M

#517 Reduce alert volume of default(pod based) alerts
  AddonBicepTemplate/AzureMonitorAlertsProfile.bicep
  GeneratedMonitoringArtifacts/Default/DefaultAlerts.json
  GeneratedMonitoringArtifacts/Default/DefaultRecordingRules.json
  GeneratedMonitoringArtifacts/Default/default_dashboards_recrules_alerts.md
  GeneratedMonitoringArtifacts/DefaultAlertsList.txt
  mixins/kubernetes/README.md
  mixins/kubernetes/alerts/apps_alerts.libsonnet
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/ci_recommended_alerts.json
  mixins/kubernetes/runbook.md
  mixins/kubernetes/tests.yaml
  tools/az-prom-rules-converter/test-files/template-example.json
Labels: size/M

#542 feat: upgrade ksm and node exporter(arc) + Windows performance update (unfair semaphore wait)
  .github/workflows/build-and-push-dependent-helm-charts.yml
  .pipelines/azure-pipeline-build.yml
  RELEASENOTES.md
  internal/docs/UpgradeDependencies.md
  otelcollector/build/windows/scripts/main.ps1
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart-template.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-clusterrolebinding.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-role.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-service.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-serviceaccount.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/deploy/chart/prometheus-collector/Chart-template.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/Chart.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/_helpers.tpl
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/ciliumnetworkpolicy.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/crs-configmap.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/deployment.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/extra-manifests.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/networkpolicy.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/rbac-configmap.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/role.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/servicemonitor.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/verticalpodautoscaler.yaml
  otelcollector/deploy/dependentcharts/kube-state-metrics/values.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/Chart.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/README.md
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/_helpers.tpl
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/daemonset.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/extra-manifests.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/networkpolicy.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/rbac-configmap.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/service.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/servicemonitor.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/verticalpodautoscaler.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/values.yaml
Labels: size/L

#543 Add the label limits to the default pod annotations config
  otelcollector/configmapparser/default-prom-configs/podannotationsDefault.yml
Labels: size/XS

#544 fix: revert labelselector in ksm and node exporter charts
  otelcollector/deploy/dependentcharts/kube-state-metrics/templates/_helpers.tpl
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/_helpers.tpl
Labels: size/S

#545 Fix: Arc boolean logic for mounting Ubuntu certs
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
Labels: size/XS

#547 doc update for release pipeline change when updating KSM and NE
  internal/docs/DEPENDENTCHARTS.md
  internal/docs/UpgradeDependencies.md
Labels: size/S

#548 release update 07/28/2023
  RELEASENOTES.md
Labels: size/XS
