Repository Azure/prometheus-collector, pull requests merged in 2023-05, with the labels that each got.

#485 fix(managed prometheus): update azure monitor metrics windows pods cpu usage to 500m and update requests and limtis for cpu and memory
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
Labels: size/XS

#486 Arc CI/CD and release
  .pipelines/azure-pipeline-build.yml
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.ARCChart.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
  .pipelines/deployment/ServiceGroupRoot/ScopeBindings/Public.ScopeBindings.json
  .pipelines/deployment/ServiceGroupRoot/Scripts/pushChartToAcr.sh
  .pipelines/deployment/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Parameters/PrometheusCollector.ARCExtension.Parameters.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/ScopeBindings/Public.ScopeBindings.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Scripts/arcExtensionRelease.sh
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
  AddonTerraformTemplate/main.tf
  AddonTerraformTemplate/variables.tf
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  internal/docs/ARC.md
  internal/docs/BUILDANDRELEASE.md
  otelcollector/build/linux/Dockerfile
  otelcollector/deploy/addon-chart/Readme.md
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart-template.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-clusterRole.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-extensionIdentity.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/scripts/main.sh
Labels: size/XL

#487 fix metrics used for alerting
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
Labels: size/S

#488 Up version
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#489 Arc prod release fixes and cleanup
  .pipelines/azure-pipeline-build.yml
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Scripts/arcExtensionRelease.sh
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
  otelcollector/scripts/main.sh
Labels: size/M

#490 Arc release: fix changes I made this morning
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#491 More Arc fixes
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
Labels: size/XS

#492 Reduce image tag length to docker limit of 128
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#493 Add buildver.txt file for Arc ev2 release
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/buildver.txt
Labels: size/XS

#494 Fix extension release script
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Scripts/arcExtensionRelease.sh
Labels: size/S

#496 More Arc release script changes
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Scripts/arcExtensionRelease.sh
Labels: size/M

#501 Add version in release notes, make dates consistent
  RELEASENOTES.md
Labels: size/XS

#502 Change ARC ARM templates to use Stable release, fix typo in ARC release pipeline
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Scripts/arcExtensionRelease.sh
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
Labels: size/XS

#505 update ksm param descriptions for policy
  AddonPolicyTemplate/AddonPolicyMetricsProfile.parameters.json
Labels: size/XS

#506 Remove `=` from ksm param(s) description
  AddonPolicyTemplate/AddonPolicyMetricsProfile.parameters.json
Labels: size/XS

#507 Terraform template fixes for addon
  AddonTerraformTemplate/main.tf
Labels: size/S

#509 Fix brakeman issue in build
  .pipelines/azure-pipeline-build.yml
  otelcollector/build/windows/Dockerfile
Labels: size/XS
