Repository Azure/prometheus-collector, pull requests merged in 2023-06, with the labels that each got.

#514 release and version update 06/02/2023
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#518 Adding kube_*_labels and kube_*_annotations to the default list of metrics
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
Labels: size/XS

#519 Fix minor warnings in bicep template
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonBicepTemplate/FullAzureMonitorMetricsProfileParameters.json
  AddonBicepTemplate/nested_azuremonitormetrics_dcra_clusterResourceId.bicep
  AddonBicepTemplate/nested_azuremonitormetrics_profile_clusterResourceId.bicep
Labels: size/M

#525 release and version update 06/26/2023
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#526 update release note with latest image : 6.7.2-main-06-26-2023-6ee07896
  RELEASENOTES.md
Labels: size/XS

#528 Arc extension: do not mount ubuntu ca-certs if k8s distro is AKS Edge Essentials
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/S
