Repository Azure/prometheus-collector, pull requests merged in 2024-06, with the labels that each got.

#896 Infra: add Arc conformance tests
  internal/docs/BUILDANDRELEASE.md
  otelcollector/test/README.md
  otelcollector/test/arc-conformance/Dockerfile
  otelcollector/test/arc-conformance/README.md
  otelcollector/test/arc-conformance/arc-conformance.yaml
  otelcollector/test/arc-conformance/e2e_tests.sh
  otelcollector/test/arc-conformance/local-e2e-tests.yaml
  otelcollector/test/ginkgo-e2e/containerstatus/container_status_test.go
  otelcollector/test/ginkgo-e2e/containerstatus/go.mod
  otelcollector/test/ginkgo-e2e/containerstatus/go.sum
  otelcollector/test/ginkgo-e2e/containerstatus/suite_test.go
  otelcollector/test/ginkgo-e2e/livenessprobe/go.mod
  otelcollector/test/ginkgo-e2e/livenessprobe/go.sum
  otelcollector/test/ginkgo-e2e/livenessprobe/liveness_test.go
  otelcollector/test/ginkgo-e2e/livenessprobe/suite_test.go
  otelcollector/test/ginkgo-e2e/operator/go.mod
  otelcollector/test/ginkgo-e2e/operator/go.sum
  otelcollector/test/ginkgo-e2e/operator/operator_suite_test.go
  otelcollector/test/ginkgo-e2e/operator/operator_test.go
  otelcollector/test/ginkgo-e2e/prometheusui/go.mod
  otelcollector/test/ginkgo-e2e/prometheusui/go.sum
  otelcollector/test/ginkgo-e2e/prometheusui/prometheus_ui_test.go
  otelcollector/test/ginkgo-e2e/prometheusui/suite_test.go
  otelcollector/test/ginkgo-e2e/querymetrics/go.mod
  otelcollector/test/ginkgo-e2e/querymetrics/go.sum
  otelcollector/test/ginkgo-e2e/querymetrics/query_metrics_test.go
  otelcollector/test/ginkgo-e2e/querymetrics/suite_test.go
  otelcollector/test/ginkgo-e2e/utils/amw_query_api_utils.go
  otelcollector/test/ginkgo-e2e/utils/constants.go
  otelcollector/test/ginkgo-e2e/utils/go.mod
  otelcollector/test/ginkgo-e2e/utils/go.sum
  otelcollector/test/ginkgo-e2e/utils/kubernetes_api_utils.go
  otelcollector/test/ginkgo-e2e/utils/operator_utils.go
  otelcollector/test/ginkgo-e2e/utils/prometheus_ui_api_utils.go
  otelcollector/test/ginkgo-e2e/utils/setup_utils.go
  otelcollector/test/testkube/testkube-test-crs.yaml
Labels: size/XL

#905 Fix: pin re2 version and fix new path for one test
  .trivyignore
  otelcollector/scripts/setup.sh
  otelcollector/test/testkube/testkube-test-crs.yaml
Labels: size/XS

#908 Fix: add re2 fix to configreader script
  otelcollector/scripts/setup-configreader.sh
  otelcollector/test/testkube/testkube-test-crs.yaml
Labels: size/XS

#906 Add Tls secret to the reader sidecar container
  internal/referenceapp/prometheus-mtls-ref-app.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator.yaml
Labels: size/S

#903 Drop all capabilities for containers and add image pull policy
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator.yaml
Labels: size/M

#911 fix: honor minimal ingestion profile setting for ccp
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/main/main.go
  otelcollector/shared/configmapparser.go
  otelcollector/shared/definitions.go
  otelcollector/shared/tomlparser-ccp-default-targets-metrics-keep-list.go
Labels: size/M

#919 update rel notes for TA chart update
  .trivyignore
  RELEASENOTES.md
Labels: size/XS

#922 fix: Truncate DCE/DCR to 44/64 chars in ARM, Bicep, Terraform...
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  AddonTerraformTemplate/main.tf
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  ArcBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  RELEASENOTES.md
Labels: size/M
