Repository Azure/prometheus-collector, pull requests merged in 2024-10, with the labels that each got.

#986 Build: add CI/CD AKS cluster with http proxy
  .pipelines/azure-pipeline-build.yml
Labels: size/L

#988 Release: upgrade version, fix test files
  .pipelines/azure-pipeline-build.yml
  otelcollector/VERSION
  otelcollector/test/ginkgo-e2e/prometheusui/go.mod
  otelcollector/test/ginkgo-e2e/prometheusui/go.sum
  otelcollector/test/test-cluster-yamls/customresources/prometheus-referernce-app.yaml
Labels: size/XL

#989 Fix: NODE_IP replacement in static_configs
  .pipelines/azure-pipeline-build.yml
  otelcollector/prom-config-validator-builder/main.go
  otelcollector/test/ginkgo-e2e/querymetrics/query_metrics_test.go
Labels: size/M

#978 [doc] Prometheus Equivalent metrics for CI Custom metrics
  internal/docs/customMetricEquivalents.md
Labels: size/S

#992 add stabilization window and doc changes for HPA
  internal/docs/HPA.md
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/_ama-metrics-helpers.tpl
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-collector-hpa.yaml
Labels: size/M

#993 fix: ccp fixes
  otelcollector/build/linux/ccp/Dockerfile
  otelcollector/shared/process_utilities.go
Labels: size/M

#976 Onboard ACStor targets
  .pipelines/azure-pipeline-build.yml
  otelcollector/configmapparser/default-prom-configs/acstorCapacityProvisionerDefaultFile.yml
  otelcollector/configmapparser/default-prom-configs/acstorMetricsExporterDefaultFile.yml
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/shared/configmap/mp/definitions.go
  otelcollector/shared/configmap/mp/prometheus-config-merger.go
  otelcollector/shared/configmap/mp/tomlparser-default-scrape-settings.go
  otelcollector/shared/configmap/mp/tomlparser-default-targets-metrics-keep-list.go
  otelcollector/shared/configmap/mp/tomlparser-scrape-interval.go
Labels: size/L

#994 release: 6.10.2 version release for CCP
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#995 doc: update release process for ccp
  internal/docs/BUILDANDRELEASE.md
Labels: size/XS

#991 fix: terraform private link support
  AddonTerraformTemplate/main.tf
  AddonTerraformTemplate/variables.tf
Labels: size/M

#996 release: update release note with image tag 6.10.2-main-10-15-2024-06b20de5
  RELEASENOTES.md
Labels: size/XS

#998 ci/cd: pipeline reliability and testkube fixes
  .pipelines/azure-pipeline-build.yml
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-prometheus-config-node-configmap.yaml
Labels: size/L

#1000 fix: typo in default otelcollector yaml
  otelcollector/opentelemetry-collector-builder/collector-config-default.yml
Labels: size/XS

#1002 build: up feature version for new release with AcStor
  otelcollector/VERSION
Labels: size/XS

#1005 release notes for remote write
  REMOTE-WRITE-RELEASENOTES.md
Labels: size/XS

#1001 Sign flagged binaries for windows containers
  .pipelines/azure-pipeline-build.yml
Labels: size/L

#1006 doc: readme update for backdoor deployment
  otelcollector/deploy/addon-chart/Readme.md
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/local_testing_aks.ps1
Labels: size/S
