Repository Azure/prometheus-collector, pull requests merged in 2024-01, with the labels that each got.

#707 [managed prometheus] remove request values for windows ama-metrics daemonset (old behavior)
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
Labels: size/XS

#713 Bumping up version for Jan release
  otelcollector/VERSION
Labels: size/XS

#714 Fix build issues
  .pipelines/azure-pipeline-build.yml
Labels: size/M

#711 Fix link to script in troubleshooting README
  internal/scripts/troubleshoot/README.md
Labels: size/S

#715 Adding back release steps for 1p helm chart
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.Chart.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
  .pipelines/deployment/ServiceGroupRoot/ScopeBindings/Public.ScopeBindings.json
  .pipelines/deployment/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
Labels: size/L

#718 Update Operator-CRD.md
  internal/docs/Operator-CRD.md
Labels: size/S

#720 [infra] fixes for build improvements
  .pipelines/azure-pipeline-build.yml
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.Chart.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
  .pipelines/deployment/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
Labels: size/L

#724 [infra] Add 'failed' state to check if Arc extension is not being currently installed
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#726 SDL Requirment : add policheck
  .pipelines/azure-pipeline-build.yml
Labels: size/S

#728 [infra] Increase Windows build timeout from 60 minutes to 120
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#732 [fix]: Set autoresolve to true for new agent version alert
  internal/alerts/example-alert-template.json
Labels: size/XS

#727 fix: update windows liveness timeoutSeconds, periodSeconds to 60 and reduce tasklist usage to once
  RELEASENOTES.md
  otelcollector/build/windows/scripts/livenessprobe.cmd
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
Labels: size/M

#731 Fix: Update Arm and Bicep templates for recommended metric alerts
  AddonBicepTemplate/README.md
  AddonBicepTemplate/recommendedMetricAlerts.bicep
  AddonBicepTemplate/recommendedMetricAlertsProfileParameters.json
  GeneratedMonitoringArtifacts/Default/recommendedMetricAlerts.json
Labels: size/XXL

#735 Remove templates for default alerts and ci recommended alerts
  AddonBicepTemplate/AzureMonitorAlertsProfile.bicep
  GeneratedMonitoringArtifacts/Default/DefaultAlerts.json
  mixins/kubernetes/rules/recording_and_alerting_rules/Comparison-doc-for-alerts-with-ci-metrics.md
  mixins/kubernetes/rules/recording_and_alerting_rules/templates/ci_recommended_alerts.json
Labels: size/XXL

#734 Add telemetry for collector and addon token adaptor
  .pipelines/azure-pipeline-build.yml
  otelcollector/fluent-bit/src/telemetry.go
Labels: size/M
