Repository Azure/prometheus-collector, pull requests merged in 2024-04, with the labels that each got.

#810 Update telegraf to latest version
  otelcollector/scripts/setup.sh
  otelcollector/telegraf/telegraf-prometheus-collector-ds.conf
  otelcollector/telegraf/telegraf-prometheus-collector-ta-enabled.conf
  otelcollector/telegraf/telegraf-prometheus-collector-windows.conf
  otelcollector/telegraf/telegraf-prometheus-collector.conf
Labels: size/S

#811 Upgrade MA/mdsd + ME
  RELEASENOTES.md
  otelcollector/build/linux/Dockerfile
  otelcollector/build/linux/ccp/Dockerfile
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/scripts/ccpsetup.sh
  otelcollector/scripts/setup.sh
Labels: size/M

#809 Upgrade: fluent-bit from 2.0.9 to 2.1.10
  .pipelines/azure-pipeline-build.yml
  otelcollector/build/linux/Dockerfile
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/fluent-bit/fluent-bit-windows.conf
  otelcollector/fluent-bit/src/out_appinsights.go
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/scripts/setup.sh
Labels: size/L

#812 Fix: For Arc, use a default value CloudEnvironment that customers can change for other clouds
  .pipelines/azure-pipeline-build.yml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/XS

#813 update the new agent alert version count
  internal/alerts/README.md
  internal/alerts/cluster-scopes.txt
  internal/alerts/example-alert-template.json
Labels: size/M

#814 update version for april release
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#815 fix: Update rollout spec with proper ccp step name
  .pipelines/deployment/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
Labels: size/XS

#816 update rel notes for april release
  RELEASENOTES.md
Labels: size/S

#766 Remove telegraf from linux
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  otelcollector/build/linux/Dockerfile
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
  otelcollector/fluent-bit/fluent-bit-parsers.conf
  otelcollector/fluent-bit/fluent-bit.conf
  otelcollector/fluent-bit/src/appinsights.go
  otelcollector/fluent-bit/src/go.mod
  otelcollector/fluent-bit/src/go.sum
  otelcollector/fluent-bit/src/out_appinsights.go
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/scripts/main.sh
  otelcollector/scripts/setup.sh
  otelcollector/telegraf/telegraf-prometheus-collector-ds.conf
  otelcollector/telegraf/telegraf-prometheus-collector-ta-enabled.conf
  otelcollector/telegraf/telegraf-prometheus-collector.conf
Labels: size/XXL

#695 Test: Adding e2e tests, test README, and pipeline infra for tests
  .github/pull_request_template.md
  .pipelines/azure-pipeline-build.yml
  internal/docs/BUILDANDRELEASE.md
  internal/docs/UpgradeDependencies.md
  internal/referenceapp/prometheus-mtls-ref-app.yaml
  internal/referenceapp/prometheus-reference-app.yaml
  internal/windowsExporterInstaller/windows-exporter-daemonset.yaml
  otelcollector/test/README.md
  otelcollector/test/ci-cd/ci-cd-cluster.json
  otelcollector/test/ci-cd/ci-cd-cluster.parameters.json
  otelcollector/test/containerstatus/container_status_test.go
  otelcollector/test/containerstatus/go.mod
  otelcollector/test/containerstatus/go.sum
  otelcollector/test/containerstatus/suite_test.go
  otelcollector/test/livenessprobe/go.mod
  otelcollector/test/livenessprobe/go.sum
  otelcollector/test/livenessprobe/liveness_test.go
  otelcollector/test/livenessprobe/suite_test.go
  otelcollector/test/operator/go.mod
  otelcollector/test/operator/go.sum
  otelcollector/test/operator/operator_suite_test.go
  otelcollector/test/operator/operator_test.go
  otelcollector/test/prometheusui/go.mod
  otelcollector/test/prometheusui/go.sum
  otelcollector/test/prometheusui/prometheus_ui_test.go
  otelcollector/test/prometheusui/suite_test.go
  otelcollector/test/querymetrics/go.mod
  otelcollector/test/querymetrics/go.sum
  otelcollector/test/querymetrics/query_metrics_test.go
  otelcollector/test/querymetrics/suite_test.go
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-prometheus-config-configmap.yaml
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-prometheus-config-node-configmap.yaml
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-prometheus-config-node-windows-configmap.yaml
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-settings-configmap.yaml
  otelcollector/test/test-cluster-yamls/customresources/prometheus-referernce-app.yaml
  otelcollector/test/testkube/api-server-permissions.yaml
  otelcollector/test/testkube/testkube-test-crs.yaml
  otelcollector/test/utils/amw_query_api_utils.go
  otelcollector/test/utils/constants.go
  otelcollector/test/utils/go.mod
  otelcollector/test/utils/go.sum
  otelcollector/test/utils/kubernetes_api_utils.go
  otelcollector/test/utils/operator_utils.go
  otelcollector/test/utils/prometheus_ui_api_utils.go
  otelcollector/test/utils/setup_utils.go
Labels: size/XXL

#827 Build: fix deploy condition to use not(succeeded()) instead of failed() to account for skipped condition
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#831 Build: fix deployment to ci/cd cluster changes
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#832 Adding filter strategy
  otelcollector/configuration-reader-builder/main.go
Labels: size/XS

#833 fix (ccp) : Relabel host for Control Plane Metrics
  otelcollector/configmapparser/default-prom-configs/controlplane_apiserver.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_cluster_autoscaler.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_etcd.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_kube_controller_manager.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_kube_scheduler.yml
  otelcollector/shared/file_utilities.go
Labels: size/M

#834 Build: always pass test tasks for now add repo checkout to running testkube tests step
  .pipelines/azure-pipeline-build.yml
Labels: size/S

#835 Test: small fixes to CRs and running tests
  .pipelines/azure-pipeline-build.yml
  otelcollector/test/containerstatus/container_status_test.go
  otelcollector/test/containerstatus/go.mod
  otelcollector/test/containerstatus/go.sum
  otelcollector/test/livenessprobe/go.mod
  otelcollector/test/livenessprobe/go.sum
  otelcollector/test/operator/go.mod
  otelcollector/test/operator/go.sum
  otelcollector/test/prometheusui/go.mod
  otelcollector/test/prometheusui/go.sum
  otelcollector/test/querymetrics/go.mod
  otelcollector/test/querymetrics/go.sum
  otelcollector/test/testkube/testkube-test-crs.yaml
Labels: size/M

#828 [fix] Minor fix in onboarding templates
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/WindowsRecordingRuleGroupTemplate/WindowsRecordingRules.json
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  AddonPolicyTemplate/README.md
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  ArcBicepTemplate/FullAzureMonitorMetricsProfile.bicep
Labels: size/L

#841 [fix] Fix the fluent bit error when collector health is enabled
  .trivyignore
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
  otelcollector/fluent-bit/fluent-bit.conf
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-settings-configmap.yaml
Labels: size/M

#839 Test: add Windows tests for Prometheus Target UX
  otelcollector/test/prometheusui/prometheus_ui_test.go
  otelcollector/test/utils/prometheus_ui_api_utils.go
Labels: size/L

#829 fix: set hubble minimal ingestion profile
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
Labels: size/XS

#842 Add life cycle metadata to container image
  .pipelines/azure-pipeline-build.yml
Labels: size/S

#858 add remaining sdl scans similar to onebranch default
  .pipelines/azure-pipeline-build.yml
Labels: size/S

#860 Add two metrics for UX windows network queries
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
Labels: size/XS

#864 fix: update to use older proxy setup for mdsd in aks
  .trivyignore
  otelcollector/scripts/main.sh
Labels: size/XS

#865 release : version update, remove unused windows metrics, update release notes
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
Labels: size/S

#867 Add namespace selector for some default jobs to improve perf
  otelcollector/configmapparser/default-prom-configs/apiserverDefault.yml
  otelcollector/configmapparser/default-prom-configs/corednsDefault.yml
  otelcollector/configmapparser/default-prom-configs/kubeproxyDefault.yml
Labels: size/XS

#866 Test: Replace SP with managed identity, add test retries, increase wait time for windows containers
  .pipelines/azure-pipeline-build.yml
  otelcollector/test/README.md
  otelcollector/test/containerstatus/container_status_test.go
  otelcollector/test/containerstatus/go.mod
  otelcollector/test/containerstatus/go.sum
  otelcollector/test/livenessprobe/go.mod
  otelcollector/test/livenessprobe/go.sum
  otelcollector/test/livenessprobe/liveness_test.go
  otelcollector/test/operator/go.mod
  otelcollector/test/operator/go.sum
  otelcollector/test/querymetrics/go.mod
  otelcollector/test/querymetrics/go.sum
  otelcollector/test/querymetrics/suite_test.go
  otelcollector/test/testkube/testkube-test-crs.yaml
  otelcollector/test/utils/amw_query_api_utils.go
  otelcollector/test/utils/constants.go
  otelcollector/test/utils/go.mod
  otelcollector/test/utils/go.sum
Labels: size/L
