Repository Azure/prometheus-collector, pull requests merged in 2024-12, with the labels that each got.

#1023 Fix for CCP configmap processing issue
  .pipelines/azure-pipeline-build.yml
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/build/linux/ccp/Dockerfile
  otelcollector/configuration-reader-builder/main.go
  otelcollector/main/main.go
  otelcollector/shared/configmap/ccp/configmapparserforccp.go
  otelcollector/shared/configmap/ccp/tomlparser-ccp-default-scrape-settings.go
  otelcollector/shared/file_utilities.go
  otelcollector/shared/process_utilities_linux.go
Labels: size/L

#1024 fix keeplist in ccp, when minimalingestionprofile=false
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/shared/configmap/ccp/tomlparser-ccp-default-targets-metrics-keep-list.go
Labels: size/M

#1022 docs: Add explicit step to check configmap applies for controlPlane to buildandrelease docs
  internal/docs/BUILDANDRELEASE.md
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-settings-configmap.yaml
Labels: size/S

#1026 Create PR locally from fork for PR# 997
  tools/az-prom-rules-converter/src/schemas/prometheus/prometheus.rules.json
Labels: size/L

#1025 Fix dashboard links in Azure managed Prometheus dashboards
  mixins/kubernetes/config.libsonnet
  mixins/kubernetes/dashboards/k8s-resources-cluster.json
  mixins/kubernetes/dashboards/k8s-resources-namespace.json
  mixins/kubernetes/dashboards/k8s-resources-node.json
  mixins/kubernetes/dashboards/k8s-resources-pod.json
  mixins/kubernetes/dashboards/k8s-resources-windows-cluster.json
  mixins/kubernetes/dashboards/k8s-resources-windows-namespace.json
  mixins/kubernetes/dashboards/k8s-resources-windows-pod.json
  mixins/kubernetes/dashboards/k8s-resources-workload.json
  mixins/kubernetes/dashboards/k8s-resources-workloads-namespace.json
  mixins/kubernetes/dashboards/k8s-windows-cluster-rsrc-use.json
  mixins/kubernetes/dashboards/k8s-windows-node-rsrc-use.json
  mixins/kubernetes/dashboards/kubelet.json
  mixins/kubernetes/dashboards/windows.libsonnet
Labels: size/L

#1027 docs: Add test process for covering ControlPlane MinimalIngestionProfile behaviours
  internal/docs/BUILDANDRELEASE.md
  otelcollector/test/test-cluster-yamls/configmaps/controlplane/ama-metrics-settings-configmap-mipfalse-emptykeep.yaml
  otelcollector/test/test-cluster-yamls/configmaps/controlplane/ama-metrics-settings-configmap-mipfalse-keepmetrics.yaml
Labels: size/L

#1016 Arc: configuration settings for GA
  .pipelines/azure-pipeline-build.yml
  otelcollector/deploy/addon-chart/Readme.md
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/_arc-extension-helpers.tpl
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-clusterRole.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-collector-hpa.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-extensionIdentity.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-secret.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator-service.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/telegraf/telegraf-prometheus-collector-ta-enabled.conf
Labels: size/L
