Repository Azure/prometheus-collector, pull requests merged in 2024-02, with the labels that each got.

#721 feat: add ccp config map settings for public preview
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
Labels: size/S

#736 [infra] Add new CVE to trivy ignore for telegraf
  .trivyignore
Labels: size/XS

#737 [infra] Fix commented out ARC deploy chart condition and build issues
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#739 fix: stop copying libssl.so.1.1 & libcrypto.so.1.1 as they are already available in distroless mariner
  .pipelines/azure-pipeline-build.yml
  RELEASENOTES.md
  otelcollector/build/linux/Dockerfile
Labels: size/S

#671 Authentication using TLS certs + few metrics for civ2 ux + update release notes
  RELEASENOTES.md
  internal/referenceapp/golang/linux/Dockerfile
  internal/referenceapp/golang/main.go
  internal/referenceapp/linux-http-scrape-config.yaml
  internal/referenceapp/linux-https-scrape-config.yaml
  internal/referenceapp/prometheus-config
  internal/referenceapp/prometheus-mtls-ref-app.yaml
  otelcollector/VERSION
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-clusterRole.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/example-custom-resources/pod-monitor-reference-app.yaml
  otelcollector/scripts/main.sh
Labels: size/L

#740 remove Tls setup from reference app
  internal/referenceapp/golang/linux/Dockerfile
  internal/referenceapp/golang/main.go
Labels: size/S

#729 [infra] Add remote ACR registry cache to improve linux build times
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#744 Add categories to recommended alerts
  GeneratedMonitoringArtifacts/Default/recommendedMetricAlerts.json
Labels: size/XXL

#741 [Arc] Add ability to configure requests, limits, and tolerations using the chart values
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/L

#745 fix: stop copying libssl.so.1.1 & libcrypto.so.1.1 for config-reader
  otelcollector/build/linux/configuration-reader/Dockerfile
Labels: size/XS

#749 Update release notes for March
  RELEASENOTES.md
Labels: size/S

#725 Add new regions for Azure Monitor Workspace
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/WindowsRecordingRuleGroupTemplate/WindowsRecordingRules.json
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  ArcBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  RELEASENOTES.md
Labels: size/M

#755 bumping up version and adding release notes
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#757 Correct PV alert syntax + fix build issue
  .pipelines/azure-pipeline-build.yml
  AddonBicepTemplate/recommendedMetricAlerts.bicep
  GeneratedMonitoringArtifacts/Default/recommendedMetricAlerts.json
Labels: size/S

#760 fix: typo in recording rule group name
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  ArcArmTemplate/FullAzureMonitorMetricsProfile.json
  ArcBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  GeneratedMonitoringArtifacts/Default/DefaultRecordingRules.json
Labels: size/S

#761 Fix: configreader CPU request chart variable name
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/XS
