Repository Azure/prometheus-collector, pull requests merged in 2024-03, with the labels that each got.

#768 Updating the app monitoring parameters for ama-metrics charts
  .trivyignore
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/S

#763 Update templates with latest refinements
  .trivyignore
  AddonBicepTemplate/recommendedMetricAlerts.bicep
  GeneratedMonitoringArtifacts/Default/recommendedMetricAlerts.json
Labels: size/XL

#769 dollar fix for TA
  .trivyignore
  otelcollector/configuration-reader-builder/main.go
  otelcollector/otel-allocator/server/server.go
  otelcollector/prom-config-validator-builder/main.go
Labels: size/L

#770 update version for release
  otelcollector/VERSION
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/XS

#772 Fixing bug in values
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/XS

#774 updating release notes for march release
  RELEASENOTES.md
Labels: size/S

#778 build: onebranch migration
  .pipelines/OneBranch.Official.yml
  .pipelines/azure-pipeline-build.yml
  .trivyignore
Labels: size/XXL

#653 Step 0 : Merge CCP changes to main with a separate image
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  otelcollector/build/linux/ccp/Dockerfile
  otelcollector/configmapparser/default-prom-configs/controlplane_apiserver.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_cluster_autoscaler.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_etcd.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_kube_controller_manager.yml
  otelcollector/configmapparser/default-prom-configs/controlplane_kube_scheduler.yml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/ccp-metrics-plugin/Chart-template.yaml
  otelcollector/deploy/addon-chart/ccp-metrics-plugin/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/ccp-metrics-plugin/templates/ama-metrics-role.yaml
  otelcollector/deploy/addon-chart/ccp-metrics-plugin/templates/ama-metrics-roleBinding.yaml
  otelcollector/deploy/addon-chart/ccp-metrics-plugin/templates/ama-metrics-serviceAccount.yaml
  otelcollector/deploy/addon-chart/ccp-metrics-plugin/values-template.yaml
  otelcollector/main/README.md
  otelcollector/main/go.mod
  otelcollector/main/go.sum
  otelcollector/main/main.go
  otelcollector/opentelemetry-collector-builder/ccp-collector-config-default.yml
  otelcollector/opentelemetry-collector-builder/ccp-collector-config-replicaset.yml
  otelcollector/opentelemetry-collector-builder/ccp-collector-config-template.yml
  otelcollector/prom-config-validator-builder/main.go
  otelcollector/scripts/ccpsetup.sh
  otelcollector/scripts/setup.sh
  otelcollector/shared/configmapparser.go
  otelcollector/shared/definitions.go
  otelcollector/shared/file_utilities.go
  otelcollector/shared/process_utilities.go
  otelcollector/shared/prometheus-ccp-config-merger-test.go
  otelcollector/shared/prometheus-ccp-config-merger.go
  otelcollector/shared/tomlparser-ccp-default-scrape-settings.go
  otelcollector/shared/tomlparser-ccp-default-targets-metrics-keep-list.go
  otelcollector/shared/tomlparser-ccp-prometheus-collector-settings.go
Labels: size/XXL

#788 fix update addon token adapter win image to match AKS RP
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/deploy/chart/prometheus-collector/templates/prometheus-collector-daemonset.yaml
Labels: size/XS

#777 Doc update for pod monitor
  .trivyignore
  otelcollector/deploy/example-custom-resources/pod-monitor/pod-monitor-reference-app-mtls.yaml
  otelcollector/deploy/example-custom-resources/pod-monitor/pod-monitor-reference-app.yaml
  otelcollector/telegraf/telegraf-prometheus-collector-ta-enabled.conf
Labels: size/M

#771 [ArcA Only] Fix custom environment value on ArcA environment
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator.yaml
Labels: no-pr-activity

#798 feat : add support for per cloud AI instance
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  otelcollector/build/linux/Dockerfile
  otelcollector/build/windows/Dockerfile
  otelcollector/build/windows/scripts/main.ps1
  otelcollector/scripts/main.sh
Labels: size/L

#801 Alerting and Recording rules for workloads
  .trivyignore
  Azure-ARM-templates/Workload-Rules/Alert-Rules-Parameters.json
  Azure-ARM-templates/Workload-Rules/Argo/argocd-alerting-rules.json
  Azure-ARM-templates/Workload-Rules/ElasticSearch/elasticsearch-alerting-rules.json
  Azure-ARM-templates/Workload-Rules/ElasticSearch/elasticsearch-recording-rules.json
  Azure-ARM-templates/Workload-Rules/Kafka/kafka-alerting-rules.json
  Azure-ARM-templates/Workload-Rules/Recording-Rules-Parameters.json
Labels: size/XL

#804 Fix: Change logging from error to info for missing configmap settings to not have errors for older configmaps
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
  otelcollector/configmapparser/tomlparser-pod-annotation-based-scraping.rb
Labels: size/M

#805 build: push ccp linux image to prod mcr
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.LinuxCCP.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
  .pipelines/deployment/ServiceGroupRoot/ScopeBindings/Public.ScopeBindings.json
  .pipelines/deployment/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
Labels: size/M

#803 Build: pipeline feedback and fixes
  .pipelines/azure-pipeline-build.yml
  otelcollector/otel-allocator/Dockerfile
Labels: size/M
