Repository Azure/prometheus-collector, pull requests merged in 2024-11, with the labels that each got.

#969 [feat] windows golang update
  .pipelines/azure-pipeline-build.yml
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  internal/grafana_uami/action.ps1
  internal/grafana_uami/patch-add-umi.json
  otelcollector/build/linux/.dockerignore
  otelcollector/build/windows/.dockerignore
  otelcollector/build/windows/Dockerfile
  otelcollector/build/windows/scripts/main.ps1
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/configmapparser/ConfigParseErrorLogger.rb
  otelcollector/configmapparser/prometheus-config-merger-with-operator.rb
  otelcollector/configmapparser/prometheus-config-merger.rb
  otelcollector/configmapparser/tomlparser-debug-mode.rb
  otelcollector/configmapparser/tomlparser-default-scrape-settings.rb
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
  otelcollector/configmapparser/tomlparser-pod-annotation-based-scraping.rb
  otelcollector/configmapparser/tomlparser-prometheus-collector-settings.rb
  otelcollector/configmapparser/tomlparser-scrape-interval.rb
  otelcollector/configmapparser/tomlparser-utils.rb
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart-template.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/local_testing_aks.ps1
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/go.sum
  otelcollector/main/main.go
  otelcollector/opentelemetry-collector-builder/makefile_windows.ps1
  otelcollector/shared/configmap/ccp/configmapparserforccp.go
  otelcollector/shared/configmap/mp/configmapparser.go
  otelcollector/shared/file_utilities.go
  otelcollector/shared/helpers.go
  otelcollector/shared/process_utilities_linux.go
  otelcollector/shared/process_utilities_windows.go
  otelcollector/shared/proxy_settings.go
  otelcollector/shared/telemetry.go
Labels: size/XXL

#1011 fix: update buildx to use acr image
  .pipelines/azure-pipeline-build.yml
Labels: size/M

#1009 Update HPA doc to add min=max behavior
  internal/docs/HPA.md
Labels: size/XS

#1013 Update RELEASENOTES.md
  RELEASENOTES.md
Labels: size/S

#1012 fix: broken windows tests
  otelcollector/build/windows/Dockerfile
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/shared/telemetry.go
Labels: size/M

#1003 Adding support for global settings
  otelcollector/main/main.go
  otelcollector/prom-config-validator-builder/main.go
  otelcollector/shared/configmap/mp/configmapparser.go
  otelcollector/shared/configmap/mp/tomlparser-set-global-config.go
  otelcollector/telegraf/telegraf-prometheus-collector-ds.conf
  otelcollector/telegraf/telegraf-prometheus-collector-ta-enabled.conf
  otelcollector/telegraf/telegraf-prometheus-collector-windows.conf
Labels: size/L

#1008 fix tests
  tools/az-prom-rules-converter/src/steps/to-azure/to-azure-prom-alerting-rule.test.ts
  tools/az-prom-rules-converter/src/steps/to-azure/to-azure-prom-rule-group-properties.test.ts
  tools/az-prom-rules-converter/src/steps/yaml2json.test.ts
Labels: size/S

#1010 Features/momalka/add stdi stream support
  tools/az-prom-rules-converter/README.md
  tools/az-prom-rules-converter/dist/cli.js
  tools/az-prom-rules-converter/dist/steps/to-arm-template.js
  tools/az-prom-rules-converter/examples/json-example1.json
  tools/az-prom-rules-converter/examples/result1.json
  tools/az-prom-rules-converter/examples/template-example.json
  tools/az-prom-rules-converter/examples/yaml-example1.yml
  tools/az-prom-rules-converter/package.json
  tools/az-prom-rules-converter/src/cli.ts
  tools/az-prom-rules-converter/src/index.test.ts
  tools/az-prom-rules-converter/src/index.ts
  tools/az-prom-rules-converter/src/steps/to-arm-template.ts
Labels: size/L

#1017 fix hubble & cilium regex-es for minimal ingestion profile
  otelcollector/shared/configmap/mp/tomlparser-default-targets-metrics-keep-list.go
Labels: size/XS
