Repository Azure/prometheus-collector, pull requests merged in 2024-07, with the labels that each got.

#927 fix: add single quotes to pod annotations for multiple namespace scenario
  .trivyignore
  RELEASENOTES.md
  otelcollector/configmapparser/tomlparser-pod-annotation-based-scraping.rb
Labels: size/XS

#931 Rashmi/update operator deployment
  .trivyignore
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator.yaml
Labels: size/M

#937 fix: create missing configmapparser folder
  otelcollector/build/linux/Dockerfile
  otelcollector/build/linux/configuration-reader/Dockerfile
Labels: size/XS

#938 fix path to scrapte settings configmap
  otelcollector/shared/configmap/mp/definitions.go
Labels: size/M

#939 compliace : add codeql to build pipeline
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#940 fix : update if condition to do proper checks for networkobs fields + no quotes needed for golang podannotation
  otelcollector/shared/configmap/mp/prometheus-config-merger.go
  otelcollector/shared/configmap/mp/tomlparser-pod-annotation-based-scraping.go
Labels: size/M

#941 fix podannotation issue
  otelcollector/shared/configmap/mp/prometheus-config-merger.go
  otelcollector/shared/configmap/mp/tomlparser-pod-annotation-based-scraping.go
Labels: size/XS

#944 fix pod annotations with special case for value
  otelcollector/main/main.go
  otelcollector/shared/configmap/ccp/configmapparserforccp.go
  otelcollector/shared/configmap/mp/configmapparser.go
  otelcollector/shared/file_utilities.go
  otelcollector/shared/process_utilities.go
  otelcollector/shared/proxy_settings.go
  otelcollector/shared/telemetry.go
Labels: size/L

#946 move to single quote for telegraf
  otelcollector/main/main.go
  otelcollector/shared/configmap/ccp/configmapparserforccp.go
  otelcollector/shared/configmap/mp/configmapparser.go
  otelcollector/shared/configmap/mp/tomlparser-pod-annotation-based-scraping.go
  otelcollector/shared/file_utilities.go
  otelcollector/shared/process_utilities.go
  otelcollector/shared/proxy_settings.go
  otelcollector/shared/telemetry.go
Labels: size/M

#948 remove both double and single quotes
  otelcollector/shared/configmap/mp/prometheus-config-merger.go
Labels: size/S

#949 release 7/22/2024 + local testing script
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/local_testing_aks.ps1
Labels: size/M

#951 [fix] Add min function to the dc name substring functionparameters to avoid template deployment failure for shorter names
  .trivyignore
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  AddonTerraformTemplate/main.tf
Labels: size/S
