Repository Azure/prometheus-collector, pull requests merged in 2024-08, with the labels that each got.

#957 mcr repo for windows exporter
  internal/windowsExporterInstaller/windows-exporter-daemonset.yaml
Labels: size/XS

#953 remove web app example project
  tools/az-prom-rules-converter/package-lock.json
  tools/az-prom-rules-converter/web-app-example/.gitignore
  tools/az-prom-rules-converter/web-app-example/README.md
  tools/az-prom-rules-converter/web-app-example/package-lock.json
  tools/az-prom-rules-converter/web-app-example/package.json
  tools/az-prom-rules-converter/web-app-example/public/favicon.ico
  tools/az-prom-rules-converter/web-app-example/public/index.html
  tools/az-prom-rules-converter/web-app-example/public/logo192.png
  tools/az-prom-rules-converter/web-app-example/public/logo512.png
  tools/az-prom-rules-converter/web-app-example/public/manifest.json
  tools/az-prom-rules-converter/web-app-example/public/robots.txt
  tools/az-prom-rules-converter/web-app-example/src/App.css
  tools/az-prom-rules-converter/web-app-example/src/App.js
  tools/az-prom-rules-converter/web-app-example/src/App.test.js
  tools/az-prom-rules-converter/web-app-example/src/ArmParameters.js
  tools/az-prom-rules-converter/web-app-example/src/index.css
  tools/az-prom-rules-converter/web-app-example/src/index.js
  tools/az-prom-rules-converter/web-app-example/src/logo.svg
  tools/az-prom-rules-converter/web-app-example/src/setupTests.js
Labels: size/XXL

#950 add windows recommended alerts related to cadvisor and node disk usage alert
  AddonBicepTemplate/recommendedMetricAlerts.bicep
  GeneratedMonitoringArtifacts/Default/recommendedMetricAlerts.json
Labels: size/M

#962 Config Reader sidecar memory leak fix
  .trivyignore
  otelcollector/configuration-reader-builder/main.go
  otelcollector/shared/process_utilities.go
Labels: size/M

#964 test: support two shards for e2e tests
  otelcollector/test/ginkgo-e2e/prometheusui/prometheus_ui_test.go
  otelcollector/test/ginkgo-e2e/utils/kubernetes_api_utils.go
  otelcollector/test/ginkgo-e2e/utils/prometheus_ui_api_utils.go
Labels: size/L

#966 Adding back log mount for tailing logs
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
Labels: size/S
