Repository Azure/prometheus-collector, pull requests merged in 2024-05, with the labels that each got.

#871 Up the version and create new release notes for Cosmic toggle
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/test/containerstatus/container_status_test.go
  otelcollector/test/prometheusui/go.mod
  otelcollector/test/prometheusui/go.sum
Labels: size/M

#870 fix: update windows MCS endpoints for MA to work in euap and other clouds
  otelcollector/build/windows/scripts/main.ps1
Labels: size/M

#877 Upgrade ME (for hdinsights OOM bug)
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/scripts/ccpsetup.sh
  otelcollector/scripts/setup.sh
Labels: size/M

#872 Update service connection and other parameters for ESRP v5
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  internal/docs/ESRPCodeSign.md
Labels: size/L

#879 Update release notes
  RELEASENOTES.md
Labels: size/XS

#880 test: fix the prometheus UI test timeout due to too many exec calls
  otelcollector/test/prometheusui/prometheus_ui_test.go
Labels: size/XS

#883 update release note with ccp release image
  RELEASENOTES.md
Labels: size/XS

#885 Fix the signature artifacts drop issue
  .pipelines/deployment/ServiceGroupRoot/Scripts/pushAgentToAcr.sh
Labels: size/S

#875 Add tests for pod getting scheduled on all nodes
  .github/pull_request_template.md
  otelcollector/test/README.md
  otelcollector/test/containerstatus/container_status_test.go
  otelcollector/test/utils/constants.go
  otelcollector/test/utils/kubernetes_api_utils.go
Labels: size/L

#884 Remove histograms from minimal ingestion list - ccp metrics collector
  otelcollector/shared/configmapparser.go
  otelcollector/shared/tomlparser-ccp-default-targets-metrics-keep-list.go
Labels: size/XS

#886 fix: ccp ignore minimal ingestion profile setting and respecting the keep list regex values
  otelcollector/shared/definitions.go
  otelcollector/shared/prometheus-ccp-config-merger.go
  otelcollector/shared/tomlparser-ccp-default-targets-metrics-keep-list.go
Labels: size/M

#890 doc: update readme for ccp clusters
  internal/docs/BUILDANDRELEASE.md
  otelcollector/main/README.md
Labels: size/S

#892 release : version upgrade to 6.8.12, release notes update with changes
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#894 fix release script - install oras
  .pipelines/deployment/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
Labels: size/XS

#895 Infra: switch to managed identity for Arc extension version release
  .pipelines/azure-pipeline-build.yml
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Scripts/arcExtensionRelease.sh
Labels: size/L

#893 doc: release notes + AI telemetry location
  RELEASENOTES.md
  internal/docs/Telemetry.md
Labels: size/S

#887 Ksm upgrade to 2.12.0
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-clusterrolebinding.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-role.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-service.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-serviceaccount.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/S

#898 fix: update kube_* jobs to correct job
  otelcollector/configmapparser/tomlparser-default-targets-metrics-keep-list.rb
  otelcollector/test/querymetrics/query_metrics_test.go
Labels: size/S

#897 Test: fix flaky test timeouts
  .pipelines/azure-pipeline-build.yml
  otelcollector/test/containerstatus/container_status_test.go
  otelcollector/test/livenessprobe/liveness_test.go
  otelcollector/test/prometheusui/prometheus_ui_test.go
  otelcollector/test/querymetrics/query_metrics_test.go
Labels: size/M

#899 (Draft PR) Revert Telegraf removal
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  RELEASENOTES.md
  otelcollector/VERSION
  otelcollector/build/linux/Dockerfile
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
  otelcollector/fluent-bit/fluent-bit-parsers.conf
  otelcollector/fluent-bit/fluent-bit.conf
  otelcollector/fluent-bit/src/appinsights.go
  otelcollector/fluent-bit/src/go.mod
  otelcollector/fluent-bit/src/go.sum
  otelcollector/fluent-bit/src/out_appinsights.go
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/scripts/main.sh
  otelcollector/scripts/setup.sh
  otelcollector/telegraf/telegraf-prometheus-collector-ds.conf
  otelcollector/telegraf/telegraf-prometheus-collector-ta-enabled.conf
  otelcollector/telegraf/telegraf-prometheus-collector.conf
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-settings-configmap.yaml
Labels: size/XXL

#900 fix bug in pct calculation in memory usage alert
  internal/alerts/example-alert-template.json
  otelcollector/test/ci-cd/ci-cd-cluster.json
Labels: size/XS

#901 Update release notes for May 31 release
  RELEASENOTES.md
Labels: size/XS
