Repository Azure/prometheus-collector, pull requests merged in 2024-09, with the labels that each got.

#968 Changes to enable HPA for ama-metrics deployment
  .trivyignore
  internal/docs/Operator-CRD.md
  internal/docs/Operator-Sharding.md
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/_ama-metrics-helpers.tpl
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-collector-hpa.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/metricextension/me.config
  otelcollector/metricextension/me_ds.config
  otelcollector/metricextension/me_ds_internal.config
  otelcollector/metricextension/me_ds_internal_win.config
  otelcollector/metricextension/me_ds_win.config
  otelcollector/metricextension/me_internal.config
  otelcollector/scripts/setup.sh
  otelcollector/telegraf/telegraf-prometheus-collector-ta-enabled.conf
  otelcollector/telegraf/telegraf-prometheus-collector.conf
Labels: size/L

#974 Version bump for image release for ME new bits for HPA support
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#975 update release notes for 09-16 image
  RELEASENOTES.md
Labels: size/XS

#977 Arc: new release image, enable target-allocator, add CI/CD proxy cluster
  .pipelines/azure-pipeline-build.yml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-collector-hpa.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/test/README.md
  otelcollector/test/ginkgo-e2e/prometheusui/prometheus_ui_test.go
  otelcollector/test/ginkgo-e2e/utils/constants.go
  otelcollector/test/testkube/testkube-test-crs.yaml
Labels: size/L

#982 Arc: upgrade node-exporter
  internal/docs/BUILDANDRELEASE.md
  internal/docs/DEPENDENTCHARTS.md
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart-template.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/Chart.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/ci/port-values.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/_helpers.tpl
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/clusterrole.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/daemonset.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/service.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/serviceaccount.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/values.yaml
Labels: size/L

#983 Add support to override image registry for custom environment
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/S
