Repository Azure/prometheus-collector, pull requests merged in 2025-02, with the labels that each got.

#1050 Test: query for $ and $$ label for CRs and external labels
  .pipelines/azure-pipeline-build.yml
  otelcollector/test/ginkgo-e2e/querymetrics/query_metrics_test.go
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-prometheus-config-node-windows-configmap.yaml
  otelcollector/test/test-cluster-yamls/customresources/prometheus-reference-app.yaml
Labels: size/L

#1030 Remove telegraf and use only fluent-bit for telemetry
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  internal/referenceapp/golang/linux/Dockerfile
  otelcollector/build/linux/Dockerfile
  otelcollector/build/windows/Dockerfile
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/fluent-bit/fluent-bit-daemonset.conf
  otelcollector/fluent-bit/fluent-bit-daemonset.yaml
  otelcollector/fluent-bit/fluent-bit-windows.conf
  otelcollector/fluent-bit/fluent-bit.conf
  otelcollector/fluent-bit/fluent-bit.yaml
  otelcollector/fluent-bit/plugins_options.cmake
  otelcollector/fluent-bit/src/cmetrics_decoder.go
  otelcollector/fluent-bit/src/go.mod
  otelcollector/fluent-bit/src/go.sum
  otelcollector/fluent-bit/src/out_appinsights.go
  otelcollector/fluent-bit/src/process_stats.go
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/fluent-bit/src/utils.go
  otelcollector/main/main.go
  otelcollector/scripts/setup.sh
  otelcollector/shared/helpers.go
  otelcollector/telegraf/telegraf-prometheus-collector-ds.conf
  otelcollector/telegraf/telegraf-prometheus-collector-ta-enabled.conf
  otelcollector/telegraf/telegraf-prometheus-collector-windows.conf
  otelcollector/telegraf/telegraf-prometheus-collector.conf
  otelcollector/test/arc-conformance/Dockerfile
Labels: size/XXL

#1052 Add OTLP metrics to reference app and README for configurable env vars
  .pipelines/azure-pipeline-build.yml
  internal/referenceapp/golang/README.md
  internal/referenceapp/golang/go.mod
  internal/referenceapp/golang/go.sum
  internal/referenceapp/golang/main.go
Labels: no-pr-activity

#1055 Add scrape_samples_scraped metric to telemetry when debug mode is enabled
  RELEASENOTES.md
  otelcollector/configuration-reader-builder/main.go
  otelcollector/fluent-bit/fluent-bit-daemonset.yaml
  otelcollector/fluent-bit/fluent-bit.yaml
  otelcollector/fluent-bit/src/cmetrics_decoder.go
  otelcollector/fluent-bit/src/out_appinsights.go
  otelcollector/opentelemetry-collector-builder/collector-config-default.yml
  otelcollector/opentelemetry-collector-builder/collector-config-replicaset.yml
  otelcollector/opentelemetry-collector-builder/collector-config-template.yml
  otelcollector/opentelemetry-collector-builder/components.go
  otelcollector/opentelemetry-collector-builder/go.mod
  otelcollector/opentelemetry-collector-builder/go.sum
  otelcollector/prom-config-validator-builder/components.go
  otelcollector/prom-config-validator-builder/go.mod
  otelcollector/prom-config-validator-builder/go.sum
  otelcollector/prom-config-validator-builder/main.go
  otelcollector/shared/configmap/mp/tomlparser-debug-mode.go
  otelcollector/shared/configmap/mp/tomlparser-set-global-config.go
Labels: size/L

#1062 fix: set proxy the old way for mdsd in golang
  .trivyignore
  RELEASENOTES.md
  otelcollector/shared/proxy_settings.go
Labels: size/XS

#1061 doc: Update remote write release notes with prom-remotewrite-20250214.1
  REMOTE-WRITE-RELEASENOTES.md
Labels: size/XS

#1064 fix: add cluster scope to recording rules in policy
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  RELEASENOTES.md
Labels: size/S

#1065 Add job labels to monitoring alerts
  internal/alerts/example-alert-template.json
Labels: size/XS

#1066 fix: arc conformance build in pipeline
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#1067 Update version and release notes
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/XS

#1068 test: upgrade testkube version, test golang version, and test packages
  .pipelines/azure-pipeline-build.yml
  otelcollector/test/README.md
  otelcollector/test/ginkgo-e2e/containerstatus/go.mod
  otelcollector/test/ginkgo-e2e/containerstatus/go.sum
  otelcollector/test/ginkgo-e2e/livenessprobe/go.mod
  otelcollector/test/ginkgo-e2e/livenessprobe/go.sum
  otelcollector/test/ginkgo-e2e/operator/go.mod
  otelcollector/test/ginkgo-e2e/operator/go.sum
  otelcollector/test/ginkgo-e2e/prometheusui/go.mod
  otelcollector/test/ginkgo-e2e/prometheusui/go.sum
  otelcollector/test/ginkgo-e2e/querymetrics/go.mod
  otelcollector/test/ginkgo-e2e/querymetrics/go.sum
  otelcollector/test/ginkgo-e2e/regionTests/go.mod
  otelcollector/test/ginkgo-e2e/regionTests/go.sum
  otelcollector/test/ginkgo-e2e/update-go-packages.sh
  otelcollector/test/ginkgo-e2e/utils/go.mod
  otelcollector/test/ginkgo-e2e/utils/go.sum
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-prometheus-config-node-configmap.yaml
Labels: size/XXL

#1072 Update release notes for 6.15.0-main-02-21-2025-4acb2b4c image
  RELEASENOTES.md
Labels: size/XS

#1073 Update date in release notes
  RELEASENOTES.md
Labels: size/XS

#1075 test: fix breaking change in Prometheus UI test functions
  otelcollector/test/ginkgo-e2e/prometheusui/prometheus_ui_test.go
Labels: size/XS
