Repository Azure/prometheus-collector, pull requests merged in 2025-08, with the labels that each got.

#1256 Remove fatal error on fluent bit startup
  otelcollector/main/main.go
  otelcollector/shared/process_utilities_linux.go
Labels: size/S

#1260 CI/CD: upgrade bot improvements from v0.131.0 PR
  .pipelines/azure-pipeline-build.yml
  internal/otel-upgrade-scripts/README.md
  internal/otel-upgrade-scripts/upgrade.sh
  otelcollector/test/testkube/run-testkube-workflow.sh
  otelcollector/test/testkube/testkube-test-crs-otelcollector-upgrade.yaml
Labels: size/XL

#1224 feat: add support for Container Storage's storage-operator
  otelcollector/configmapparser/default-prom-configs/acstorMetricsExporterDefaultFile.yml
  otelcollector/configmapparser/default-prom-configs/localCSIDriverDefaultFile.yml
  otelcollector/configmaps/ama-metrics-settings-configmap-v1.yaml
  otelcollector/configmaps/ama-metrics-settings-configmap-v2.yaml
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/shared/configmap/mp/definitions.go
  otelcollector/shared/configmap/mp/prometheus-config-merger.go
  otelcollector/shared/configmap/mp/tomlparser-default-scrape-settings.go
  otelcollector/shared/configmap/mp/tomlparser-default-targets-metrics-keep-list.go
  otelcollector/shared/configmap/mp/tomlparser-scrape-interval.go
Labels: size/M

#1259 Release: managed sdp + region agnostic ev2
  .pipelines/azure-pipeline-arc-release.yml
  .pipelines/azure-pipeline-build.yml
  .pipelines/azure-pipeline-release.yml
  .pipelines/deployment/ServiceGroupRoot/Configuration.Prod.json
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.ARCChart.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.ConfigReader.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.KSM.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.Linux.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.LinuxCCP.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.NE.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.TargetAllocator.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/Parameters/PrometheusCollector.Windows.Parameters.json
  .pipelines/deployment/ServiceGroupRoot/Parameters/RolloutParameter.json
  .pipelines/deployment/ServiceGroupRoot/RolloutSpec.json
  .pipelines/deployment/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
  .pipelines/deployment/ServiceGroupRoot/ScopeBindings.json
  .pipelines/deployment/ServiceGroupRoot/ScopeBindings/Public.ScopeBindings.json
  .pipelines/deployment/ServiceGroupRoot/Scripts/pushAgentToAcr.sh
  .pipelines/deployment/ServiceGroupRoot/Scripts/pushChartToAcr.sh
  .pipelines/deployment/ServiceGroupRoot/ServiceGroupSpec.json
  .pipelines/deployment/ServiceGroupRoot/ServiceModel.json
  .pipelines/deployment/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
  .pipelines/deployment/ServiceGroupRoot/ServiceSpec.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Configuration.Fairfax.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Configuration.Mooncake.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Configuration.Prod.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Parameters/PrometheusCollector.ARCExtension.Parameters.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/RolloutSpec.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/ScopeBindings.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/ScopeBindings/Public.ScopeBindings.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/Scripts/arcExtensionRelease.sh
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/ServiceGroupSpec.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/ServiceModel.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/ServiceSpec.json
  .pipelines/deployment/arc-extension-release/ServiceGroupRoot/StageMap.Prod.json
  internal/docs/BUILDANDRELEASE.md
Labels: size/XXL

#1262 test: fix workingdirectory in pipeline
  .pipelines/azure-pipeline-build.yml
Labels: size/S

#1271 release: up version for august release
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/XS

#1274 Update REMOTE-WRITE-RELEASENOTES.md
  REMOTE-WRITE-RELEASENOTES.md
Labels: size/S

#1275 fix: minimal ingestion profile explicitly set for no configmap
  otelcollector/VERSION
  otelcollector/shared/configmap/mp/tomlparser-default-targets-metrics-keep-list.go
Labels: size/S

#1279 infra: CI/CD and test fixes
  .pipelines/azure-pipeline-build.yml
  .pipelines/azure-pipeline-release.yml
  internal/otel-upgrade-scripts/upgrade.sh
  otelcollector/test/ginkgo-e2e/configprocessing/go.mod
  otelcollector/test/ginkgo-e2e/configprocessing/go.sum
Labels: size/XXL
