Repository Azure/prometheus-collector, pull requests merged in 2025-07, with the labels that each got.

#1199 Add documentation for AMW limit upgrade api
  .trivyignore
  internal/docs/AMWLimitIncrease-Parameters.json
  internal/docs/AMWLimitIncrease-Template.json
  internal/docs/AMWLimitIncrease.md
Labels: size/L

#1201 Add reference app to dependabot for OSS vulnerability remediation
  .github/dependabot.yml
Labels: size/XS

#1206 upgrade bot: account for patch version differences between TA and otelcollector
  .github/workflows/otelcollector-upgrade.yml
  TARGETALLOCATOR_VERSION
  internal/otel-upgrade-scripts/changelogsummary.sh
  internal/otel-upgrade-scripts/check-otel-version.sh
  internal/otel-upgrade-scripts/upgrade.sh
Labels: size/L

#1212 release: separate pipeline for arc release
  .pipelines/azure-pipeline-arc-release.yml
Labels: size/L

#1169 feat: Scrape metrics for node autoprovisioning (aks control plane)
  otelcollector/configmapparser/default-prom-configs/controlplane_node_auto_provisioning.yml
  otelcollector/configmaps/ama-metrics-settings-configmap-v1.yaml
  otelcollector/configmaps/ama-metrics-settings-configmap-v2.yaml
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
  otelcollector/deploy/addon-chart/generate_helm_files.sh
  otelcollector/main/main.go
  otelcollector/shared/configmap/ccp/definitions.go
  otelcollector/shared/configmap/ccp/prometheus-ccp-config-merger.go
  otelcollector/shared/configmap/ccp/tomlparser-ccp-default-scrape-settings.go
  otelcollector/shared/configmap/ccp/tomlparser-ccp-default-targets-metrics-keep-list.go
  otelcollector/shared/configmap/mp/definitions.go
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-settings-configmap-v2.yaml
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-settings-configmap.yaml
  otelcollector/test/test-cluster-yamls/configmaps/controlplane/ama-metrics-settings-configmap-mipfalse-emptykeep.yaml
  otelcollector/test/test-cluster-yamls/configmaps/controlplane/ama-metrics-settings-configmap-mipfalse-keepmetrics.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-all-targets-disabled.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-all-targets-enabled.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-defaults-targets-turned-on.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-ds-targets-enabled.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-error.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-rs-targets-enabled.yaml
Labels: size/L

#1213 fix: sign prometheusui.exe, main.exe and remove telegraf.exe code
  .pipelines/azure-pipeline-build.yml
  otelcollector/shared/helpers.go
Labels: size/L

#1215 doc: update release note with ccp release image : 6.19.0-main-07-10-2025-36d292f8
  RELEASENOTES.md
Labels: size/XS

#1233 Revert secret creation to avoid reconciliation
  otelcollector/configuration-reader-builder/main.go
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-clusterRole.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-operator-targets-client-tls-secret.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-operator-targets-server-tls-secret.yaml
Labels: size/M

#1236 fix: remove uneeded terneray operator in tf template
  AddonTerraformTemplate/main.tf
Labels: size/S

#1239 test: add otlp label-filter also to querymetrics test
  otelcollector/test/testkube/testkube-test-crs.yaml
Labels: size/XS

#1249 fix: update recommended alert arm template to use clustername variable
  GeneratedMonitoringArtifacts/Default/recommendedMetricAlerts.json
Labels: size/S

#1223 Upgrade pod and service monitor CRD schemas to latest
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-podmonitor-crd.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-servicemonitor-crd.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator-service.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator.yaml
Labels: size/XXL

#1225 build: improve upgrade bot
  .github/workflows/otelcollector-upgrade.yml
  .pipelines/azure-pipeline-build.yml
  internal/otel-upgrade-scripts/README.md
  internal/otel-upgrade-scripts/check-otel-version.sh
  internal/otel-upgrade-scripts/updatetrivyignore.sh
  internal/otel-upgrade-scripts/upgrade.sh
Labels: size/XL
