Repository Azure/prometheus-collector, pull requests merged in 2025-09, with the labels that each got.

#1280 fix: bleu cloud for linux and windows
  otelcollector/main/main.go
  otelcollector/scripts/setup.sh
  otelcollector/shared/helpers.go
Labels: size/S

#1284 fix: wait for tokenconfig.json before starting ME
  otelcollector/main/main.go
Labels: size/M

#1288 Bump version for September release
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/XS

#1301 fix: increase tokenconfig download wait time to 45 sec for windows
  otelcollector/main/main.go
Labels: size/XS

#1293 fix: add missing data plane metrics
  otelcollector/shared/configmap/mp/tomlparser-default-targets-metrics-keep-list.go
Labels: size/XS

#1314 Update azure-pipeline-release.yml for Azure Pipelines
  .pipelines/azure-pipeline-release.yml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-ksm-deployment.yaml
Labels: size/XS
