Repository Azure/prometheus-collector, pull requests merged in 2025-01, with the labels that each got.

#1033 cve fix, remote write release note update
  REMOTE-WRITE-RELEASENOTES.md
Labels: size/XS

#1036 build: use new azure linux images for building the reference app
  internal/referenceapp/golang/linux/Dockerfile
  internal/referenceapp/python/linux/Dockerfile
Labels: size/S

#1035 CCP scrape config + adding metrics_relabel_config to end of the config
  otelcollector/configmapparser/default-prom-configs/controlplane_apiserver.yml
  otelcollector/configmapparser/default-prom-configs/kubeletDefaultDs.yml
  otelcollector/shared/configmap/ccp/prometheus-ccp-config-merger.go
  otelcollector/shared/configmap/mp/prometheus-config-merger.go
Labels: size/L

#1043 Print fluent-bit and telegraf version for windows
  otelcollector/main/main.go
Labels: size/M

#1042 doc: change example for pod annotations namespace regex filter
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
Labels: size/XS

#1044 fix troubleshooting script for hpa and remove uneeded login check
  internal/scripts/troubleshoot/TroubleshootError.ps1
Labels: size/L

#1045 fix telegraf version print to be only for windows (linux already done)
  otelcollector/main/main.go
Labels: size/S

#1046 Log only log with level panic and above for TA
  internal/docs/UpgradeotelCol.md
  otelcollector/otel-allocator/config/flags.go
Labels: size/S

#1047 Update version and release notes
  RELEASENOTES.md
  otelcollector/VERSION
Labels: size/S

#1048 fix troubleshooting script to skip DCE connected to DCRA
  internal/scripts/troubleshoot/TroubleshootError.ps1
Labels: size/L

#1032 Williamd/region tests
  .pipelines/azure-pipeline-aksdeploy-test.yml
  .pipelines/azure-pipeline-aksdeploy.yml
  .pipelines/azure-pipeline-regionstest.yml
  .pipelines/azure-template-aksdeploy.yml
  .pipelines/azure-template-regionstest.yml
  internal/docs/RegionTestsPipelineWiki.md
  otelcollector/test/ci-cd/ci-cd-cluster.json
  otelcollector/test/ci-cd/ci-cd-cluster.parameters.json
  otelcollector/test/ginkgo-e2e/regionTests/go.mod
  otelcollector/test/ginkgo-e2e/regionTests/go.sum
  otelcollector/test/ginkgo-e2e/regionTests/regionTests_suite_test.go
Labels: size/XXL

#1049 fix: only setup arc for linux + set env variable for windows correctly
  otelcollector/main/main.go
  otelcollector/shared/configmap/mp/configmapparser.go
Labels: size/S
