Repository Azure/prometheus-collector, pull requests merged in 2025-06, with the labels that each got.

#1167 Update max shards to 24
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/_ama-metrics-helpers.tpl
Labels: size/XS

#1170 internal: alerts for remote write
  internal/remotewrite/alerts/containerinsights_remotewritemonitor_eus2.json
  internal/remotewrite/alerts/containerinsights_remotewritemonitor_wcus.json
Labels: size/L

#1133 Secure communication between Replicaset and TargetAllocator
  .pipelines/azure-pipeline-build.yml
  internal/referenceapp/golang/main.go
  otelcollector/build/linux/configuration-reader/Dockerfile
  otelcollector/configmaps/ama-metrics-settings-configmap-v1.yaml
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
  otelcollector/configuration-reader-builder/certcreator/cert_creator.go
  otelcollector/configuration-reader-builder/certcreator/go.mod
  otelcollector/configuration-reader-builder/certgenerator/cert_generator.go
  otelcollector/configuration-reader-builder/certgenerator/go.mod
  otelcollector/configuration-reader-builder/certgenerator/go.sum
  otelcollector/configuration-reader-builder/certoperator/cert_operator.go
  otelcollector/configuration-reader-builder/certoperator/go.mod
  otelcollector/configuration-reader-builder/certoperator/go.sum
  otelcollector/configuration-reader-builder/go.mod
  otelcollector/configuration-reader-builder/go.sum
  otelcollector/configuration-reader-builder/main.go
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-clusterRole.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-operator-targets-client-tls-secret.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-operator-targets-server-tls-secret.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator-service.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-targetallocator.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/fluent-bit/fluent-bit.yaml
  otelcollector/fluent-bit/src/telemetry.go
  otelcollector/main/main.go
  otelcollector/opentelemetry-collector-builder/collector-config-replicaset.yml
  otelcollector/opentelemetry-collector-builder/go.sum
  otelcollector/shared/collector_replicaset_config_helper.go
  otelcollector/shared/configmap/mp/definitions.go
  otelcollector/shared/configmap/mp/tomlparser-prometheus-collector-settings.go
  otelcollector/shared/otel_config.go
  otelcollector/shared/process_utilities_linux.go
Labels: size/XXL

#1184 fix: respect minimalingestionprofile when no configmap is present
  .trivyignore
  otelcollector/shared/configmap/ccp/tomlparser-ccp-default-targets-metrics-keep-list.go
  otelcollector/shared/configmap/mp/tomlparser-default-scrape-settings.go
  otelcollector/shared/configmap/mp/tomlparser-default-targets-metrics-keep-list.go
Labels: size/M

#1183 Bug fix for https enabled not honored when configmap is absent
  otelcollector/shared/configmap/mp/tomlparser-prometheus-collector-settings.go
Labels: size/XS

#1188 update configmap to v1 as its pointed from docs.
  otelcollector/configmaps/ama-metrics-settings-configmap-v2.yaml
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
Labels: size/L

#1190 Remove secret create permissions
  otelcollector/configuration-reader-builder/main.go
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-clusterRole.yaml
Labels: size/M
