Repository Azure/prometheus-collector, pull requests merged in 2025-05, with the labels that each got.

#1135 Build: migrate build pipeline to use the governed template
  .pipelines/azure-pipeline-build.yml
Labels: size/XXL

#1056 feat: Configmap update for CCP (v2 + v1 schema support)
  RELEASENOTES.md
  otelcollector/configmaps/ama-metrics-prometheus-config-node-windows-configmap.yaml
  otelcollector/configmaps/ama-metrics-settings-configmap-v1.yaml
  otelcollector/configmaps/ama-metrics-settings-configmap.yaml
  otelcollector/deploy/addon-chart/ccp-metrics-plugin/templates/ama-metrics-role.yaml
  otelcollector/fluent-bit/src/process_stats.go
  otelcollector/shared/configmap/ccp/configmapparserforccp.go
  otelcollector/shared/configmap/ccp/tomlparser-ccp-default-scrape-settings.go
  otelcollector/shared/configmap/ccp/tomlparser-ccp-default-targets-metrics-keep-list.go
  otelcollector/shared/configmap/ccp/tomlparser-ccp-prometheus-collector-settings.go
  otelcollector/shared/configmap/mp/configmapparser.go
  otelcollector/shared/configmap/mp/definitions.go
  otelcollector/shared/configmap/mp/tomlparser-debug-mode.go
  otelcollector/shared/configmap/mp/tomlparser-default-scrape-settings.go
  otelcollector/shared/configmap/mp/tomlparser-default-targets-metrics-keep-list.go
  otelcollector/shared/configmap/mp/tomlparser-pod-annotation-based-scraping.go
  otelcollector/shared/configmap/mp/tomlparser-prometheus-collector-settings.go
  otelcollector/shared/configmap/mp/tomlparser-scrape-interval.go
  otelcollector/shared/helpers.go
Labels: size/XXL

#1144 fix: move filesystemwatcher to hash based golang appoach for windows
  RELEASENOTES.md
  otelcollector/build/windows/Dockerfile
  otelcollector/build/windows/scripts/filesystemwatcher.ps1
  otelcollector/build/windows/scripts/livenessprobe.cmd
  otelcollector/main/main.go
  otelcollector/shared/filesystemwatcher_utility.go
Labels: size/L

#1149 fix: move first hash call to after MA, ME startup
  otelcollector/main/main.go
  otelcollector/shared/filesystemwatcher_utility.go
Labels: size/L

#1150 feat: add support for bleu cloud
  RELEASENOTES.md
  otelcollector/shared/helpers.go
Labels: size/XS

#1151 fix: disable default remotewrite jobs + enable third workspace
  internal/remotewrite/sidecar.yaml
Labels: size/S

#1157 build: fix issue with 1ES scanning
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#1158 build: fix scan issue 2
  .pipelines/azure-pipeline-build.yml
Labels: size/XS

#1160 release: upgrade ev2 shell version and add more logs
  .pipelines/deployment/ServiceGroupRoot/Scripts/pushAgentToAcr.sh
  .pipelines/deployment/ServiceGroupRoot/ServiceModels/Public.ServiceModel.json
Labels: size/S

#1156 test: Add otel CI/CD cluster + fixes for cluster setup and existing tests
  .pipelines/azure-pipeline-build.yml
  .pipelines/azure-pipeline-config-tests.yml
  .pipelines/azure-pipeline-release.yml
  otelcollector/test/README.md
  otelcollector/test/ginkgo-e2e/configprocessing/config_processing_test.go
  otelcollector/test/test-cluster-yamls/configmaps/ama-metrics-settings-configmap-v2.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-all-ds-targets-enabled-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-all-rs-targets-enabled-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-all-targets-disabled-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-all-targets-enabled-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-custom-configmap-error-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-custom-node-configmap-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-default-targets-on-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-global-ext-labels-error-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-global-settings-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-no-configmaps-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-only-custom-configmap-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-settings-error-crs.yaml
  otelcollector/test/testkube/job-template.yaml
  otelcollector/test/testkube/testkube-test-crs-otel.yaml
  otelcollector/test/testkube/values.yaml
Labels: size/XXL

#1161 Fix for empty scrape job in custom configmap
  otelcollector/shared/configmap/mp/prometheus-config-merger.go
Labels: size/XS

#1162 fix: very high CPU issue with openmetrics exposition
  otelcollector/prometheusreceiver/metrics_receiver.go
Labels: size/XS

#1163 fix: revert Target Allocator to 0.120.0 to fix same target from different jobs issue
  .trivyignore
  otelcollector/otel-allocator/README.md
  otelcollector/otel-allocator/benchmark_test.go
  otelcollector/otel-allocator/go.mod
  otelcollector/otel-allocator/go.sum
  otelcollector/otel-allocator/internal/allocation/allocator.go
  otelcollector/otel-allocator/internal/allocation/allocator_test.go
  otelcollector/otel-allocator/internal/allocation/least_weighted_test.go
  otelcollector/otel-allocator/internal/allocation/per_node_test.go
  otelcollector/otel-allocator/internal/allocation/strategy.go
  otelcollector/otel-allocator/internal/allocation/strategy_test.go
  otelcollector/otel-allocator/internal/allocation/testutils.go
  otelcollector/otel-allocator/internal/collector/collector.go
  otelcollector/otel-allocator/internal/collector/collector_test.go
  otelcollector/otel-allocator/internal/config/config.go
  otelcollector/otel-allocator/internal/config/config_test.go
  otelcollector/otel-allocator/internal/config/testdata/config_test.yaml
  otelcollector/otel-allocator/internal/config/testdata/pod_service_selector_camelcase_expressions_test.yaml
  otelcollector/otel-allocator/internal/config/testdata/pod_service_selector_camelcase_test.yaml
  otelcollector/otel-allocator/internal/config/testdata/pod_service_selector_expressions_test.yaml
  otelcollector/otel-allocator/internal/config/testdata/pod_service_selector_test.yaml
  otelcollector/otel-allocator/internal/diff/diff.go
  otelcollector/otel-allocator/internal/diff/diff_test.go
  otelcollector/otel-allocator/internal/prehook/prehook.go
  otelcollector/otel-allocator/internal/prehook/relabel.go
  otelcollector/otel-allocator/internal/prehook/relabel_test.go
  otelcollector/otel-allocator/internal/server/mocks_test.go
  otelcollector/otel-allocator/internal/server/server_test.go
  otelcollector/otel-allocator/internal/target/discovery.go
  otelcollector/otel-allocator/internal/target/discovery_test.go
  otelcollector/otel-allocator/internal/target/target.go
  otelcollector/otel-allocator/internal/watcher/promOperator.go
  otelcollector/otel-allocator/internal/watcher/promOperator_test.go
  otelcollector/otel-allocator/main.go
Labels: size/XXL

#1164 release: add retries for oras copy
  .pipelines/deployment/ServiceGroupRoot/RolloutSpecs/RolloutSpecs.json
  .pipelines/deployment/ServiceGroupRoot/Scripts/pushAgentToAcr.sh
Labels: size/S
