Repository Azure/prometheus-collector, pull requests merged in 2025-04, with the labels that each got.

#1102 Release: final fixes for new governed yaml
  .pipelines/azure-pipeline-build.yml
  .pipelines/azure-pipeline-release.yml
Labels: size/XL

#1098 prom-remotewrite-20250326.1 release for remote write
  REMOTE-WRITE-RELEASENOTES.md
Labels: size/XS

#1100 Few fixes for march 2025 release
  .pipelines/azure-pipeline-build.yml
  AddonArmTemplate/FullAzureMonitorMetricsProfile.json
  AddonArmTemplate/WindowsRecordingRuleGroupTemplate/WindowsRecordingRules.json
  AddonBicepTemplate/FullAzureMonitorMetricsProfile.bicep
  AddonPolicyTemplate/AddonPolicyMetricsProfile.rules.json
  AddonTerraformTemplate/main.tf
  GeneratedMonitoringArtifacts/Default/DefaultRecordingRules.json
  RELEASENOTES.md
  mixins/kubernetes/dashboards/k8s-windows-node-rsrc-use.json
  mixins/kubernetes/dashboards/windows.libsonnet
  mixins/kubernetes/rules/windows.libsonnet
  otelcollector/VERSION
  otelcollector/build/windows/scripts/setup.ps1
  otelcollector/configmapparser/default-prom-configs/acstorCapacityProvisionerDefaultFile.yml
  otelcollector/configmapparser/default-prom-configs/acstorMetricsExporterDefaultFile.yml
  otelcollector/deploy/dashboard/windows/Kubernetes _ USE Method _ Cluster(Windows).json
  otelcollector/deploy/dashboard/windows/Kubernetes _ USE Method _ Node(Windows).json
  otelcollector/deploy/dashboard/windows/recording-rules/Kubernetes _ USE Method _ Node(Windows).json
  otelcollector/scripts/ccpsetup.sh
  otelcollector/scripts/setup.sh
  otelcollector/shared/configmap/mp/tomlparser-default-targets-metrics-keep-list.go
  otelcollector/test/ci-cd/ci-cd-cluster.json
Labels: size/M

#1108 build: fix deployment, fail task when docker build fails, add retries
  .pipelines/azure-pipeline-build.yml
Labels: size/M

#1097 Config processing tests
  .pipelines/azure-pipeline-build.yml
  .pipelines/azure-pipeline-config-tests.yml
  otelcollector/test/ginkgo-e2e/configprocessing/config_processing_test.go
  otelcollector/test/ginkgo-e2e/configprocessing/go.mod
  otelcollector/test/ginkgo-e2e/configprocessing/go.sum
  otelcollector/test/ginkgo-e2e/configprocessing/suite_test.go
  otelcollector/test/ginkgo-e2e/utils/constants.go
  otelcollector/test/test-cluster-yamls/configmaps/custom-config-map-node/ama-metrics-prometheus-config-node-configmap-errors.yaml
  otelcollector/test/test-cluster-yamls/configmaps/custom-config-map-win/ama-metrics-prometheus-config-node-windows-configmap-errors.yaml
  otelcollector/test/test-cluster-yamls/configmaps/custom-config-map/ama-metrics-prometheus-config-configmap-all-actions.yaml
  otelcollector/test/test-cluster-yamls/configmaps/custom-config-map/ama-metrics-prometheus-config-configmap-with-error.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-all-targets-disabled.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-all-targets-enabled.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-defaults-targets-turned-on.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-ds-targets-enabled.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-error.yaml
  otelcollector/test/test-cluster-yamls/configmaps/default-config-map/ama-metrics-settings-configmap-rs-targets-enabled.yaml
  otelcollector/test/test-cluster-yamls/configmaps/global-settings/ama-metrics-prometheus-config-configmap-with-custom-global.yaml
  otelcollector/test/test-cluster-yamls/configmaps/global-settings/ama-metrics-prometheus-config-configmap-with-global-error.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-all-ds-targets-enabled-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-all-rs-targets-enabled-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-all-targets-disabled-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-all-targets-enabled-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-custom-configmap-error-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-custom-node-configmap-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-default-targets-on-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-global-ext-labels-error-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-global-settings-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-no-configmaps-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-only-custom-configmap-crs.yaml
  otelcollector/test/testkube/config-processing-test-crs/testkube-config-test-settings-error-crs.yaml
Labels: size/XXL, no-pr-activity

#1111 Fix build after merging config tests
  .pipelines/azure-pipeline-build.yml
  otelcollector/test/ginkgo-e2e/configprocessing/go.mod
  otelcollector/test/ginkgo-e2e/configprocessing/go.sum
Labels: size/L

#1114 Update azure-pipeline-config-tests.yml for Azure Pipelines
  .pipelines/azure-pipeline-config-tests.yml
  .trivyignore
Labels: size/XS

#1113 sync dashboards and few fixes for managed prometheus dashboards
  mixins/kubernetes/config.libsonnet
  mixins/kubernetes/dashboards/k8s-resources-cluster.json
  mixins/kubernetes/dashboards/k8s-resources-namespace.json
  mixins/kubernetes/dashboards/k8s-resources-node.json
  mixins/kubernetes/dashboards/k8s-resources-pod.json
  mixins/kubernetes/dashboards/k8s-resources-windows-cluster.json
  mixins/kubernetes/dashboards/k8s-resources-windows-namespace.json
  mixins/kubernetes/dashboards/k8s-resources-windows-pod.json
  mixins/kubernetes/dashboards/k8s-resources-workload.json
  mixins/kubernetes/dashboards/k8s-resources-workloads-namespace.json
  mixins/kubernetes/dashboards/k8s-windows-cluster-rsrc-use.json
  mixins/kubernetes/dashboards/k8s-windows-node-rsrc-use.json
  mixins/kubernetes/dashboards/kubelet.json
  mixins/kubernetes/dashboards/windows.libsonnet
  mixins/node/dashboards/node-rsrc-use.json
  mixins/node/dashboards/nodes.json
  mixins/node/dashboards/use.libsonnet
  mixins/node/lib/prom-mixin.libsonnet
Labels: size/M

#1115 Fix build for arc conformance test image
  otelcollector/test/ginkgo-e2e/configprocessing/config_processing_test.go
  otelcollector/test/ginkgo-e2e/configprocessing/go.mod
  otelcollector/test/ginkgo-e2e/configprocessing/go.sum
  otelcollector/test/ginkgo-e2e/prometheusui/prometheus_ui_test.go
Labels: size/M

#1124 Upgrade node exporter to v1.9.1
  .pipelines/azure-pipeline-build.yml
  .pipelines/azure-pipeline-config-tests.yml
  .trivyignore
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/Chart-template.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/.helmignore
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/Chart.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/README.md
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/_helpers.tpl
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/daemonset.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/networkpolicy.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/templates/servicemonitor.yaml
  otelcollector/deploy/dependentcharts/prometheus-node-exporter/values.yaml
Labels: size/L

#1118 CI/CD: add retina helm chart
  .pipelines/azure-pipeline-build.yml
  otelcollector/deploy/retina/custom-files/network-observability-service.yaml
  otelcollector/test/ginkgo-e2e/containerstatus/container_status_test.go
  otelcollector/test/ginkgo-e2e/querymetrics/query_metrics_test.go
  otelcollector/test/ginkgo-e2e/utils/constants.go
Labels: size/M

#1119 update release notes with image : 6.16.0-main-04-15-2025-d78050c6
  .trivyignore
  RELEASENOTES.md
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/S

#1128 Update addon token adapter image to match aks-rp
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/values-template.yaml
Labels: size/XS

#1132 fix: Update CA cert volume mounts to match aks-rp
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-daemonset.yaml
  otelcollector/deploy/addon-chart/azure-monitor-metrics-addon/templates/ama-metrics-deployment.yaml
  otelcollector/deploy/addon-chart/ccp-metrics-plugin/templates/ama-metrics-deployment.yaml
Labels: size/XS
