Repository Azure/prometheus-collector, pull requests merged in 2025-03, with the labels that each got.

#1077 release: add initial governed release yaml
  .pipelines/azure-pipeline-release.yml
Labels: size/XXL

#1081 test: use same Prom version in tests as otelcollector
  otelcollector/test/ginkgo-e2e/prometheusui/go.mod
  otelcollector/test/ginkgo-e2e/prometheusui/go.sum
  otelcollector/test/ginkgo-e2e/prometheusui/prometheus_ui_test.go
Labels: size/L

#1090 ci/cd: update remote write sidecar to write to eastus2 workspace
  .pipelines/azure-pipeline-build.yml
  .trivyignore
  RELEASENOTES.md
  internal/docs/BUILDANDRELEASE.md
  internal/remotewrite/sidecar.yaml
  otelcollector/go.mod
  otelcollector/go.sum
Labels: size/M

#1099 build: fix tag truncation for arm/amd
  .pipelines/azure-pipeline-build.yml
  .trivyignore
Labels: size/M

#1101 Update ESRP to use AME MSI ID
  .pipelines/azure-pipeline-build.yml
Labels: size/M
